[2010-10-11 19:46] Dementetech opened #2 "Image background Issue"
Hi,

I'm traing to upload a background, im using the example 'images.php', but the system always return error 403 with this message:

" There was a problem with your background image. Probably too big."

I upload images of small sizes 15kb but either work.

could someone explain me what im doing wrong? or if curl need some extra configuration to work.

[2010-10-12 19:08] Dementetech commented on #2
I found a solultion, but is estranger.   in the example images.php have this line

 $params = array(
    'image' => "@{$_FILES['image']['tmp_name']};type={$_FILES['image']['type']};filename={$_FILES['image']['name']}",
  );

but i foun in other library that put and "@" before the parameter name, like:

 $params = array(
    '@image' => "@{$_FILES['image']['tmp_name']};type={$_FILES['image']['type'

[2010-10-15 01:01] themattharris commented on #2
It could well be an issue with the version of CURL you have running. Mine is version 7.20.0. I'll look into this further but i'm glad to hear to you got it working.

[2010-12-07 16:09] kronenthaler opened #3 "small improvement"
Hi, nice work with this library, very easy to use and works as you could expect. Nevertheless, I propose to you a very small change to make the usage of the code more compact.

first: at the line 350: CHANGE to: return $this->curlit($multipart);
second: function curlit, make it "return $code" at the end.

With this change you could process in the same "if" the return code of the request you just m

[2011-01-25 18:52] juanchorossi opened #4 "Proxy needed"
Hey! Awesome library, works great! I've added a few lines so it can proxy requests:
- On the constructor: 'curl_proxy'                  => false,
- On the cURL handler init: curl_setopt($c, CURLOPT_PROXY, $this->config['curl_proxy']);

It 'd be great to have this option of the further releases!
Thanks!

[2011-03-03 17:39] yusuke opened #6 "DELETE method fails with Incorrect signature"
## This is the snippet of my code which fails with "{"request":"\/1\/twtr_A\/37157616\/members.json","error":"Incorrect signature"}".

[code]

---

Complete code is available here: https://gist.github.com/853156

[2011-03-03 23:25] themattharris commented on #2
Closing this as I haven't had other reports of needing this. I know PHP 5.2 changed some things with how this was handled so i'm curious if that was the cause. If anybody finds out more information add a comment and i'll try and add a workaround.

[2011-03-03 23:25] #2 closed, assigned to themattharris

[2011-03-03 23:25] themattharris commented on #3
This has been incorporated into v0.4. Thanks!

[2011-03-03 23:25] #3 closed, assigned to themattharris

[2011-03-03 23:26] themattharris commented on #4
This has been incorporated in v0.4. Thanks!

[2011-03-03 23:26] themattharris commented on #6
Fixed in v0.4. Thanks!

[2011-03-03 23:26] #6 closed, assigned to themattharris

[2011-03-03 23:29] juanchorossi commented on #4
Thanks! :)

[2011-03-04 07:26] #4 closed, assigned to themattharris

[2011-03-04 08:57] yusuke opened #7 "calling 1/help/test.json fails with "Could not authenticate with OAuth""
## The following code fails with {"request":"\/1\/help\/test.json","error":"Could not authenticate with OAuth."}:

require "./tmhOAuth.php";
$twitter = new tmhOAuth(array());

$twitter->request("GET", $twitter->url("1/help/test"));
## print $twitter->response["response"];

reproducer: https://gist.github.com/854361

[2011-03-05 00:56] themattharris commented on #7
Doing what you are doing will initialize the array with an empty consumer key, secret, user token and secret. By default request will always attempt to authenticate. If you don't want to authenticate you need to modify the call to request like this:
    $twitter->request("GET", $twitter->url("1/help/test"), array(), false);

[2011-05-16 03:05] philip opened #8 "create_nonce() include_time param not implemented"
The second create_nonce() parameter $include_time is not implemented.

[2011-07-07 02:26] #7 closed, assigned to themattharris

[2011-07-07 02:30] #8 closed, assigned to themattharris

[2011-07-12 11:18] kjeldoostra opened #10 ""Could not authenticate with OAuth""
Hi,

First of all, I'd like to say that your OAuth lib is definitely the most user-friendly. However, I stumbled upon a (perhaps small) issue. I used your 'tweet.php' example to tweet a message with the following code:

<?php

require 'tmh/tmhOAuth.php';
require 'tmh/tmhUtilities.php';
$tmhOAuth = new tmhOAuth(array(
        'consumer_key'               => 'XXXXXXXXXXX',
        'consumer_secret'

[2011-07-12 17:34] themattharris commented on #10
Hi Kjeld,

Thanks for the kind words, it's great to know the library is easy to use.
The error that's coming back indicates that the Twitter API believes the OAuth credentials you have passed are no longer valid. This can happen for a couple of reasons:
- if the user either revokes an applications access to act on their behalf the tokens will no longer be valid
- if the user has reauthorised the a

[2011-07-12 18:37] kjeldoostra commented on #10
Hi Matt Harris,

Thank you for your reply. I copied the user_token (Access Token) and user_token_secret (Access Token Secret) directly from the My Applications page at dev.twitter.com. I don't need any other users to use my application, so the tokens at the My Applications page are the only tokens I need I assume. I have double checked the tokens in the PHP file, they match exactly with the tokens

[2011-07-12 19:03] kjeldoostra commented on #10
I just see I accidentally closed this, but now it's open again :)

[2011-07-12 19:14] themattharris commented on #10
This seems like an issue with the My Access Tokens on dev.twitter.com and not an issue with the library. My recommendation is to open this up as a discussion on https://dev.twitter.com/discussions to see if anyone else is having the issue. I can also follow up with my Twitter hat on then and look into it.

When you've started the conversation on dev.twitter.com can you post the link as a reply to

[2011-07-12 19:36] kjeldoostra commented on #10
Righto, here's the link to the discussion;
https://dev.twitter.com/discussions/305

Closing this thread now.

[2011-07-12 19:36] #10 closed, assigned to themattharris

[2011-07-29 07:33] ankitagarwal opened #11 "User Lookup returning Error after a few attempts"
Am not sure whats the issue..but I have spend hours trying to figure out what exactly is going wrong...
I am using user/lookup with multiple user_ids.. everything goes fine during the first few attempts..but when I loop through it more than 6-7 times following errors start popping up
"code":18,"message":"Too many terms specified in query"

any suggestions will be appreciated.
Thanks

[2011-07-29 07:51] ankitagarwal commented on #11
Sorry My bad..stupid issue on my side..wasted 5 hours on a dumb mistake :(

[2011-07-29 07:51] #11 closed, assigned to themattharris

[2011-07-29 16:45] themattharris commented on #11
No worries. Thanks for updating the issue. Out of interest what were you doing wrong? Maybe I can add a comment to the code?

[2011-08-02 06:23] ankitagarwal commented on #11
well I was adding user_ids in a loop..and didnt unset the array in the start of the loop..so after a few loop..the array size was way more than 100.. :)

[2011-08-03 06:23] optionsninja commented on #11
Matt,

Thanks for writing this code.

I have a similar problem as above, unfortunately I can't seem to figure it out. Although, I do believe that my problem lies some where with the $paging variable.

This is the front part of the loop:

[code]

The rest of the code is the your original code.
$ids = 626 (following 626 people)
$paging = 7
pagesize = 100

When I run the php in a web browser, I am on

[2011-08-03 06:35] ankitagarwal commented on #11
@optionsninja
Tried echoing $set and confirming it has the correct set of ids?

[2011-08-03 13:55] optionsninja commented on #11
@ankitagarwal

Thanks, I tried that. and I got seven different arrays, with all the ID numbers. So I think it worked correctly? But didn't solve the problem...
For example

[code]

What variable did you unset?

[2011-08-04 22:15] themattharris commented on #11
In your code the foreach loop is badly formed. You have:

[code]

Which basically says, foreach value in the data array, give me the screen name of the first item and set it to $name. Once finished with the foreach loop, echo that name and add all of the responses I have to the $users variable.

What I think you want to do is this:

[code]

[2011-08-05 04:23] optionsninja commented on #11
Well that was easy!

That worked perfectly, Thanks.

[2011-08-09 19:28] nadiamoe opened #12 "Adding extra parameters to API calls"
Hi there!
I don't really know if this is an issue of your library or a a Twitter API fault, but i can't get the querys to work if I add extra parameters to them.
Example:
    $tmhOAuth->request('GET', $tmhOAuth->url("1/statuses/mentions"));
    $mentions = json_decode($tmhOAuth->response['response']);
This works fine.
    $tmhOAuth->request('GET', $tmhOAuth->url("1/statuses/mentions?since_id=$last

[2011-08-09 20:49] themattharris commented on #12
Hey,

When specifying arguments you should pass them as an array rather than part of the request. My library handles the signing and concatenation for you.

For example:

$tmhOAuth->request('GET', $tmhOAuth->url("1/statuses/mentions"), array(
    'since_id' => $lasttweet
));

That should work for you - let me know how it goes.

[2011-08-10 00:54] nadiamoe commented on #12
Oh, thank you very much ^^
It works fine now.

Regaards ^.^

[2011-08-10 00:54] #12 closed, assigned to themattharris

[2011-08-10 04:50] themattharris commented on #12
Great, thanks for letting me know.

[2011-08-20 16:27] nadiamoe opened #14 "Suggestion: Add options to trate IDs as String."
Hi there!

The high use of twitter have generated really HUGE IDs for everything: Statuses, Users, DMs...
When moving large amounts of data, storing that IDs as Integers requires A LOT of memory to be allocated, and also so much CPU usage. The apps could be too much smaller if you could add an option to return these IDs as Strings instead of Integers.
Just an idea, not sure if possible :S

Best re

[2011-08-27 21:27] mmiliaus opened #15 "Uploading files from memory"
I am wondering if it is possible to upload file from the memory to twitter, instead of storing it first on a disk.
Thanks!

[2011-08-31 01:52] tmizu23 opened #16 "twitpic by oauth_echo.php"
I tried to post a image to twitpic by oauth_echo.php. but it returned the error.
After I changed this code from "true" to "false" and "false" to "true", I could it.
I don't know that this is the bug or not. so please give advise to me.

function generate_verify_header($tmhOAuth) {
  // generate the verify crendentials header -- BUT DON'T SEND
  // note the https URL change - this is due to postero

[2011-09-08 22:20] ninjamonkno1 commented on #15
If you are after sending the an upload direct without storing it on the server then look at the comments on line 37 https://github.com/themattharris/tmhOAuth/blob/master/examples/photo_tweet.php

It says

// we're using a hardcoded image path here. You can easily replace this with
// an uploaded image - see images.php in the examples folder for how to do this
// 'image = "@{$_FILES['image']['tmp_n

[2011-09-30 05:37] themattharris commented on #15
Yes, as ninjamonkno1 says, you can use the technique outlined in examples/images.php.

The image will still be uploaded to your server, and then sent to the Twitter API, but it will be loaded into the server's temporary store.

[2011-09-30 05:37] #15 closed, assigned to themattharris

[2011-09-30 05:40] themattharris commented on #14
The Twitter API responses include id_str in addition to id so this information is available to you.

If you prefer to use the String versions over the Integer versions you could do this:
$obj['id'] = $obj['id_str'];
unset($obj['id_str']);

Hope that helps.

[2011-09-30 05:40] #14 closed, assigned to themattharris

[2011-09-30 05:41] themattharris commented on #16
Can you add var_dump($tmhOAuth->response); to the end of your script to see which URL was queried and what the error response was?

[2011-10-21 03:51] kenshin23 opened #17 "Using examples/search.php clarification"
Hi, first of all, thanks a lot for this library, it sure seems like it is easy enough to learn.
With that said, I have a question regarding the use of this example, as it's not very clear to me.

I'm keeping the code mostly as-is, except for the parameters:

[code]

If I load the page on my test server (question: is this meant to be loaded from a web browser?) I get this:
    Strict Standards: Non

[2011-10-25 18:25] themattharris commented on #17
Can you share all your code and also tell me which version of PHP you are running?

[2011-10-26 01:09] kenshin23 commented on #17
Certainly. PHP version is 5.3.8 (using XAMPP 1.7.7 on Windows 7)
I actually think I found what the "problem" is and also answered my own question, but I've included a clarification.
Code (basically the same as the example but modified a bit):

[code]

[code]

[2011-11-16 10:16] mtranchant opened #18 "How to set encoding/charset ?"
Hi,

All accented characters are "destroyed" when requesting from/sending to Twitter.
Is there any solution to set the encoding to UT8, for example ?

Thanks for your big work, anyway :)

Regards

[2011-11-16 10:59] mtranchant commented on #18
My fault.
Encoding is correct, the issue came from my HTML page.

[2011-11-16 10:59] #18 closed, assigned to themattharris

[2011-11-16 17:30] vivor commented on #16
I'm also trying to query twitpic with the method you used in oauth_echo.php but I can't get it to work either.

The following example doesn't seem to trigger the second request() (line 10), since $tmhOAuth->response is still filled from the first one (line 3).

[code]

When I comment out the config['prevent_request'] true/false lines it does actually send the request but twitpic's response is:

[r

[2011-12-12 02:29] themattharris commented on #16
So I found an issue with my 'prevent_request' configuration which is fixed in the latest version of tmhOAuth.
I've also added a twitpic OAuth example [oauth_echo_twitpic.php].

When creating that example I hit the issue you have displayed above. It turns out twitpic has it's own API keys and you need to register for one to use their API (remember Twitpic is a third party service). I've included a

[2011-12-12 02:29] #16 closed, assigned to themattharris

[2011-12-12 06:37] themattharris commented on #17
Yeah, that would do it. This example is there just to show how to retrieve results from the Twitter Search API. You could use it as a CLI script, or webpage called by a cron job.

As this script could make multiple requests to the Twitter API (pages) I wouldn't allow it to be reached through a public URL.

There are a lot of optimizations you can make if you know what you want the script to do - f

[2011-12-12 06:37] #17 closed, assigned to themattharris

[2011-12-12 08:07] themattharris commented on #18
I'm just catching up after vacation and noticed you had this issue. Looks like you have it resolved though

Glad you got it working!

[2011-12-28 17:17] spacenick opened #19 "oauth_verifier isnt't sent in Authorization header (access token phase)"
Hello, I'm using your library to test out my oAuth 1.0a provider I wrote, during the exchange between a request token and an access token (after the user authorized the application), my server doesn't receive the "oauth_verifier" in the Authorization header. It seems that this parameter ain't merged into auth_params.

Is there something I'm missing? Thanks

[2011-12-28 17:21] spacenick commented on #19
I have to specify that I'm using the oauth_flow.php file to test it, and everything runs fine untill there!

[2011-12-28 17:25] spacenick commented on #19
Adding this after line 266ish makes the trick :

 if (isset($_signing_params['oauth_verifier'])) {
      $this->auth_params['oauth_verifier'] = $_signing_params['oauth_verifier'];
      unset($_signing_params['oauth_verifier']);
    }

 Just wondering why it wasn't doing it by default since sending oauth_verifier in the Authorization header is in the OAuth 1.0a last spec, maybe I did something wro

[2011-12-29 12:32] themattharris commented on #19
Thanks, the Twitter API is fairly lenient on where the parameters are located (header or GET/POST params) but it's still better to be correct. I'll add the code to ensure oauth_verifier (when set) is in the authorization header and push a new version up.

I have a few other hardening changes that i'm adding at the moment but I expect to push the new version within the week. When I do i'll close th

[2011-12-30 01:32] reedy opened #20 "Implode in tmhOAuth::create_nonce()"
[code]

Can you add the $glue parameter so it is more consistent with the more usual "string implode ( string $glue , array $pieces )"

Thanks!

[2011-12-30 02:05] themattharris commented on #20
Yeah that would be the preferred way of doing it. I'll add that into the next update. Thanks!

[2011-12-30 04:18] themattharris commented on #19
Just pushed that change with v0.60 so i'm closing this issue. Thanks again. (Props are in the readme ;) )

[2011-12-30 04:18] #19 closed, assigned to themattharris

[2011-12-30 04:18] themattharris commented on #20
Just pushed that change with v0.60 so i'm closing this issue. Thanks again. (Props are in the readme ;) )

[2011-12-30 04:18] #20 closed, assigned to themattharris

[2011-12-30 21:04] reedy opened #21 "Kill trailing ?>"
They're not needed unless you're stopping the PHP block, and dependant on usage, they can cause stupid header already sent errors in PHP

Would you mind removing them from both tmhOAuth.php and tmhUtilities.php?

Saves having to remember to remove them when pulling them in upstream...

Thanks!

[2011-12-30 21:12] themattharris commented on #21
I know the Zend Framework's coding practices say the closing tag is never permitted so i'm not against doing this.
I'll add this as something for the 0.61 release

[2011-12-30 21:19] reedy commented on #21
Great :)

[2011-12-31 08:21] varnent opened #22 "r60 seems to be causing a glitch somewhere"
We're using a basic clone of examples / tweet.php and as of r60 - having no luck with sending tweets.  Reverting to r57 (with Reedy's tweak applied as well) seems to return behavior back to normal.

Any ideas on the differences between the two that may need a tweak on my part?
http://svn.wikimedia.org/svnroot/mediawiki/trunk/extensions/TweetANew/TweetANew.body.php

[2011-12-31 13:11] themattharris commented on #22
r60 turns on SSL host verification. Can you run examples/verify_ssl.php and tell me if it's successful. Also, r60 saves the error response (if any). Can you (in a debug mode) run your code but at the end dump $tmhOAuth->response out. The extra info should help work out what's happening

[2012-01-06 09:40] varnent commented on #22
Nevermind - discovered what the problem was.  When we updated to the new version, we didn't add the cacert.pem file to the lib folder with the other two tmhOAuth files - whoops - seems to be working now.  :)

[2012-01-06 09:40] #22 closed, assigned to themattharris

[2012-01-06 18:44] themattharris commented on #22
The security thing is tricky but necessary to ensure the SSL connection is verified.
Either way, glad you got that solved - and thanks for letting me know!

[2012-01-17 02:21] themattharris commented on #21
Pushed v0.61 just now, and that change is in there.
Thanks!

[2012-01-17 02:21] #21 closed, assigned to themattharris

[2012-01-18 16:46] Tantacula opened #23 "Issue with photo_tweet.php"
Issue like this https://github.com/themattharris/tmhOAuth/issues/2, for clearance of experiment I changed only authorzation keys and add image.jpg to the example folder. After that i got an error like "[error] => failed creating formpost data [errno] => 26". Curl ver 7.2. Trying to fix it, but I'm not a coder (I programming in php just for fun and pleasure, not for work). So, have i nice day and s

[2012-01-21 17:32] Tantacula commented on #23
ummm, problem not solved(((

[2012-01-22 16:29] Tantacula commented on #23
Oh, sorry for my lamers errors. I solve my problem, just rewrote absolute path instead relative and after that I had downloaded certificate from http://curl.haxx.se/ca/cacert.pem.

[2012-01-22 16:29] #23 closed, assigned to themattharris

[2012-01-31 21:46] oosswwaalldd opened #25 "There was an error communicating with the delegator"
Hi, i need some help i am using the latest version of the lib package, i am currently trying to post an image via twitpic with no success.

I am using the file: oauth_echo_twitpic.php,
my twitpic app key,
my twitter: consumer_key, consumer_secret, oauth_token and oauth_token _secret
a local file called 'welcome.png', in the same directory as oauth_echo_twitpic.php

and i get this error everytime:

[2012-02-22 13:18] darkoromanov opened #27 "Example with user auth"
Hi, thanks for the great library first of all.

I need to implement tmhOAuth but I need user oauth_token/secret because the tweet has to belong to the user but I don't know where to put the hands :) Could you show an example? Thanks in advance.

[2012-02-29 17:01] crossplatformdev opened #30 "ERROR: You must enter a query"
Hi Matt.

Im trying to program a simple retwitter bot  (basically).

I started making it with twitterOAuth library, and then changed to yours because its capable of more things. The error i got this time is in search( ); function, while trying to perform any search, 'pages' value is not correctly set (I think). This is what var_dump($_POST) and vardump($args) say:

array(6) { ["search"]=> string(2

[2012-03-01 18:52] themattharris commented on #30
The error you are getting back from the Twitter Search API is because your request doesn't specify the 'q' parameter - it's not related to the pages parameter which is mutated into a string when the request URL is built.

Looking at your code http://pastebin.com/H58cRHVa it seems that you are mixing uses. My example script prompts for inputs when executed through the command line. If you want to u

[2012-03-01 18:59] themattharris commented on #25
Did you get this working, the error you got back is saying you have an invalid application key - which is a TwitPic error.

Make sure you set $twitpic_key on line 43 of oauth_echo_twitpic.php to the value TwitPic gives you on http://dev.twitpic.com/apps/

[2012-03-01 19:39] crossplatformdev commented on #30
Thanks a lot Matt.

I've just changed the keys the first (i noticed what i did really this morning, and i was wondering if create another app or what :). Your code fits pretty well my needs, it runs ok from console and also embedded in a bigger php web (it shows the results with var_dump, I just need to return that array in function search to keep to program running as expected). I also added to y

[2012-03-01 19:39] #30 closed, assigned to themattharris

[2012-03-01 20:26] themattharris commented on #27
Hey darkoromanov,

The examples/oauth_flow.php demonstrates how to go take a user through the OAuth flow so that they authorize your application to Tweet on their behalf.

There is also documentation on https://dev.twitter.com/docs/auth/using-oauth which explains more about the process. You may also find https://dev.twitter.com/docs/auth/obtaining-access-tokens useful.

If you only need users to b

[2012-03-02 02:44] crossplatformdev opened #31 "Could not authenticate with OAuth (II)."
Hi again Matt.

I keep using your library (it was easy with the code you provided; i almost had to do none reestructurement of the full program).

However, to the moment of thruth, fails at the same moment than the other library (so i suppose it could be a non related issue, but who knows...). I dumped the response['info'] variable and i got this:

{"error":"Could not authenticate with OAuth.","re

[2012-03-02 06:00] ccj-zz opened #32 "Cannot update geo"
$connection->url('1/statuses/update'), array("status" => $tweet_text, "lat" => $lat, "long" => $long, "display_coordinates" => 'true'));

Status is updated lat and long silently fail.

With Net-Twitter (Perl) this works
my $result = $nt->update({status => $tweet_text, lat=> $lat, long=>$long});

[2012-03-02 06:16] themattharris commented on #32
Is geo enabled on the account you are trying to tweet to? Users can choose whether geo is enabled or not. It geo is disable the Twitter API will silently ignore the lat/long parameters.  This is documented on dev.twitter.com in the statuses/update documentation: https://dev.twitter.com/docs/api/1/post/statuses/update

[2012-03-02 06:18] themattharris commented on #31
In your example you are creating a new tmhOAuth object without the user_token and user_secret. These are required for the Twitter API to know who you are making requests on behalf of.

[2012-03-02 16:11] oosswwaalldd commented on #25
No, I have not been able to get it to work, I followed all the steps specified in oauth_echo_twitpic.php, I requested an api key in http://dev.twitpic.com/apps/, copied this key and assigned it to $twitpic_key in that file, but the error keeps occurring.

just so you know I using you PHP lib and it has worked for me very well, thanks to you I have one of the most famous Twitter complement pages in

[2012-03-02 17:28] themattharris commented on #25
ok, in your example debug i see your request parameters look like this:

[code]

I took another look at my code and just noticed that $key isn't added to that parameter array (i've had my coffee this morning). Somewhere along the way the example dropped that value.

I've fixed that now, so pull the latest version of the code and give it another try and let me know if the latest version solves the

[2012-03-02 17:35] oosswwaalldd commented on #25
Thanks, I will test the new release and I will let you know

[2012-03-02 17:47] oosswwaalldd commented on #25
Thanks a lot! I just downloaded the latest version and it worked perfectly.

Let me tell you that I did notice the empty key param and my solution was to copy the Api Key string instead of the $key var, and it did not work, and I thought that there was a problem somewhere else.

You are the best!!! thanks!

[2012-03-02 22:54] ccj-zz commented on #32
Thanks for your help.

Yes the account is geo enabled.  I used the PERL script on that account and it worked.

[2012-03-03 00:22] themattharris commented on #25
Excellent. As that's working i'll close this issue then.
Thanks for testing and letting me know it was working!

[2012-03-03 00:22] #25 closed, assigned to themattharris

[2012-03-03 00:25] themattharris commented on #32
Interesting, can you try again but this time var_dump the tmhOAuth connection when it finishes. I'd like to see the request params and how they are formatted.

When you copy the tmhOAuth object remember to remove the consumer_secret and oauth_secret (and any other information you don't want to share publicly)

[2012-03-03 03:03] ccj-zz commented on #32
oops! I can now. Using your sample code all works well. The code from http://140dev.com/twitter-api-programming-tutorials/hello-twitter-oauth-php/ seems to fail. Sorry to waste time
...
  $connection->request('POST',
    $connection->url('1/statuses/update'),
    array("status" => $tweet_text, "lat" => $lat, "long" => $long));

  return $connection->response['code'];

[2012-03-03 04:31] Scottjutsu opened #33 "Getting User Info & Limit"
Hi Matt,

Thanks for the library - well done!  So far it's been pretty smooth sailing - I can successfully, for example, authenticate and get the user's favorite tweets.  But I'm stuck on a couple of points:

1) When I try to get the request limit I get the ip limit instead of the user limit.  I'm using the following code (with a real username, but I also tried it without the username b/c the docs

[2012-03-03 15:55] themattharris commented on #32
Great, glad you got it working!

[2012-03-03 15:55] #32 closed, assigned to themattharris

[2012-03-04 18:45] themattharris commented on #33
Hey cypherD,

For question 1, make sure the token and secret are valid for the user you are making requests on behalf. For testing you can find out your own on dev.twitter.com/apps - and yeah the 150 limit means it considers you unauthenticated.

For question 2, the correct endpoint is https://api.twitter.com/1/account/verify_credentials.json (without the username) (doc: https://dev.twitter.com/do

[2012-03-04 20:30] Scottjutsu commented on #33
Spot on.  It seems I tripped up somewhere among all of the steps of the 'OAuth dance', as you aptly put it.  Thanks so much!

[2012-03-04 20:30] #33 closed, assigned to themattharris

[2012-03-04 21:30] themattharris commented on #33
Great, glad you got it working!

[2012-03-09 16:42] cromanelli opened #34 "Urgent !!! Issues with photo_tweet.php"
Hello,

When i try to upload a photo using photo_tweet.php i get no response from twitter and

 $code = 0

after requesting a var_dump($code) .

It does not even tells me what the error is .

Please this is an urgent issue can you please help me ?

[2012-03-09 20:56] themattharris commented on #34
Hi cromanelli,

I'm happy to help and respond to issues raised with the library when I can. Marking things as urgent is unfriendly though so please don't do that.

A response code of 0 means curl could not make the request to the remote server. This is mostly likely due to a problem establishing the SSL connection to twitter.com.

To help diagnose what's going on you can inspect the $tmhOAuth->res

[2012-03-09 21:04] masbog opened #35 "Change Profile Picture Failed at images.php"
i want to change my avatar but result from twitter like this

{"request":"\/1\/account\/update_profile_image.json","error":"Invalid Unicode value in one or more parameters"}

some body can resolve this issue?

[2012-03-09 21:16] themattharris commented on #35
Heya,
thanks for asking this here.
Can you share the code you are using for this (remember to remove things like the oauth and consumer secrets before pasting).

[2012-03-10 02:51] masbog commented on #35
i use an original source images.php, just insert my secret token and bla bla bla.. i have your repo by git clone your repo...

[2012-03-10 11:37] cromanelli commented on #34
Hi  themattharris

I am sorry for marking this issue as urgent my intention was never an unfriendly one. But when i wrote this down i was at a venue 2 hours before a live event and I kept getting that and of course not tweeting anything. Not that i did not make my homework and try the app before using it but that morning the thing decided not to work any more, I guess my friend Murphy wanted to ta

[2012-03-10 20:09] #34 closed, assigned to themattharris

[2012-03-12 17:34] themattharris commented on #35
OK, interesting. Can you add:
var_dump($tmhOAuth);
to the end of the script and let me know what the output looks like. Remember to remove the sensitive information like user_secret and consumer_secret and signingkey.

[2012-03-12 17:39] themattharris commented on #34
Thanks, I understand the pressure of hackdays - i've been to many myself. I appreciate the followup.
I know you've closed the issue but for information you were correct that I added timeout parameters to allow easier configuration for these kind of situations.

So, in your script you can initialise the $tmhOAuth object with these configured (so you don't need to modify the basecode).

[code]

[2012-03-19 23:01] oosswwaalldd opened #37 "Re-tweets retrieval"
I want to implement in my Twitter app a functionality where a logged in user can see a list of user who has re-tweeted any of the tweets made from the logged in user, is there an API to do this? there is one and it retrieves the re-tweets of a given status id but not on the user id.

Thanks in advance for any help

[2012-03-20 20:42] themattharris commented on #37
Hey,

This is a good question to ask on the Twitter API developers forum: https://dev.twitter.com/discussions
To start you off though, have you thought about using the /1/statuses/retweets_of_me call?
    https://dev.twitter.com/docs/api/1/get/statuses/retweets_of_me

[2012-03-20 23:24] oosswwaalldd commented on #37
Yes my mistake, I already accomplish the feature in my app with statuses/retweets_of_me.

Thanks anyway!

[2012-03-20 23:24] #37 closed, assigned to themattharris

[2012-03-22 07:16] nateh opened #38 "Retrieving Direct Messages"
Hi This line does not do it

$code = $tmhOAuth->request('GET', $tmhOAuth->url('1/direct_messages.json'), array(
  'data' => 'count=1&page=1'));

Would appreciate help if possible

[2012-03-22 15:14] themattharris commented on #38
Hey nateh,

When requesting direct messages it's important for your OAuth application has the correct permissions. Twitter requires your application has Read/Write and Direct Message access to be able to read a users DMs. You can check your application has this permission on it's settings page linked to from https://dev.twitter.com/apps . If you have to change the permission level remember to requ

[2012-03-24 01:40] ghost commented on #35
I have same problem. But I don't see any mistake. Nothing happed. And Image didn't changed.

[2012-03-24 01:48] ghost commented on #35
$vardump says:
Conten'... (length=618)
      'error' => string 'Operation timed out after 10015 milliseconds with 0 bytes received' (length=66)
      'errno' => int 28

[2012-03-29 00:37] nateh commented on #38
Thank you Matt

Apologies I was away.

Yes I'm now getting a response but I had to drop the json in

url('1/direct_messages.json')

It returns json in any case.

Thanks for the help

[2012-03-29 00:37] #38 closed, assigned to themattharris

[2012-03-29 21:25] trante opened #40 "Declaring functions as static"
Can you declare functions as static methods? Because most of the methods are called statically..

Else i will put "error_reporting(E_ALL ^ E_STRICT);" in code.

Or do you suppress STRICT warnings?

[2012-03-29 21:51] trante opened #41 "Callback address"
Can we set oauth's callback address by using "oauth_callback"?

I read "Desktop applications only support the oauth_callback value"
But "POST oauth/request_token" says "oauth_callback required"

So if we set "oauth_callback", does this suppresses the callback address in application's settings value?
Did i miss something can you give more information?

Thank you

[2012-04-03 17:10] themattharris commented on #41
Yes, oauth_callback can be set at runtime -- and should be for OAuth 1.0a. For backwards compatibility with OAuth 1.0 apps Twitter supports not setting it but it's discouraged.

When you pass the oauth_callback parameter in the oauth/request_token request, the value in the application's settings is ignored.

For more information on how OAuth works with Twitter's APIs I recommend posting a discussi

[2012-04-03 17:37] themattharris commented on #40
can you provide an example of the error log you are seeing?

when I set error_reporting(E_ALL); and run the examples i'm not getting any error entries.

[2012-04-03 18:06] themattharris commented on #27
Closing this one as there hasn't been any follow up to my response. Feel free to comment if you have any follow up though.

[2012-04-03 18:06] #27 closed, assigned to themattharris

[2012-04-03 18:07] themattharris commented on #31
Closing this as there's been no response to my comments for awhile. Feel free to comment any follow-up though.

[2012-04-03 18:07] #31 closed, assigned to themattharris

[2012-04-03 18:10] themattharris commented on #35
Be default tmhOAuth is set to timeout the request after 10 seconds. You can bump this up by adding the `curl_timeout` parameter to the tmhOAuth instantiation. For example, to set the timeout to 15 seconds you would do this:

[code]

[2012-04-14 12:05] trante opened #44 "Fetching profile image"
I'm trying to get profile image. I couldn't find an example in library.
So i used this code:
$params = array(  'screen_name'    => $scrName    );
$code = $tmhOAuth->request('GET', $tmhOAuth->url('1/users/profile_image') , $params);

But the output is as follows:
<  html   > <    body    >You are being <a href="https://si0.twimg.com/profile_images/12345678/twitlogog_normal.jpg">redirected</a>.<

[2012-04-14 14:06] trante opened #45 "Rate limit check"
I checked examples to find "rate limit check".
I only find one example in examples/friends.php

But it checkes rate limit after a "1/friends/ids" request.
Is it not better to check rate limit before making a request.

Thank you

[2012-04-14 21:50] themattharris commented on #44
The profile image URL is located in the user object and it's generally better to get it through `/1/users/lookup` instead.
(`https://dev.twitter.com/docs/api/1/get/users/lookup`).

But, to answer your question, the Twitter API documentation for `https://dev.twitter.com/docs/api/1/get/users/profile_image/%3Ascreen_name` says **This resource does not return JSON or XML, but instead returns a 302 red

[2012-04-14 21:53] themattharris commented on #45
I'm using the response headers from that request to decide if it's ok to make requests again or not.

If you think the rate limit could have been exhausted before the request you could call `/1/account/rate_limit_status.json` first.

[2012-04-14 21:54] themattharris commented on #41
Hey trante, did the above answer your question? if so, could you close the issue - thanks.

[2012-04-14 21:54] themattharris commented on #40
hey trante, can you provide the error log that's showing the strict errors. thanks.

[2012-04-14 21:56] themattharris commented on #35
did the code above help?

[2012-04-14 22:16] ghost commented on #35
yes,thanx

[2012-04-15 02:44] #35 closed, assigned to themattharris

[2012-04-15 09:35] trante commented on #41
Yes, sorry. thank you

[2012-04-15 09:35] #41 closed, assigned to themattharris

[2012-04-15 09:35] trante commented on #45
Ok thank you

[2012-04-15 09:35] #45 closed, assigned to themattharris

[2012-04-15 09:39] trante commented on #40
I couldn't reproduce the problem.
If i can reproduce i would open again.
Thank you.

[2012-04-15 09:39] #40 closed, assigned to themattharris

[2012-04-15 09:39] trante commented on #44
Thank you, that helped much.

[2012-04-15 09:39] #44 closed, assigned to themattharris

[2012-04-19 05:29] tommoor opened #46 "Using multipart to upload a photo with an @reply does not work."
For example, the following code is unsuccessful:

[code]

   );

Obviously this is due to PHP's interpretation of the @ symbol at the beginning of the status field signifying a filepath. It would be great to get support for this within the library.

[2012-04-19 05:50] tommoor commented on #46
I've just found that prepending a space to infront of the @ symbol in the status field allows the status to be sent. It seems that twitter does trim the space on their end as well although this feels like a frail solution.

[2012-04-22 11:16] trante opened #47 "stdClass member warnings"
I'm sorry this issue is not directly with tmhOAuth but maybe you can help me.
I use **_phpStorm**_ as IDE. It gives warnings for **_stdClass**_ responses.

For example

[code]

IDE gives warning for **$tmhOAuth->response['response']**
The warning is **Field 'response' not found in class tmhOAuth**

It supposes that response is a function.
Should i add some lines to declare it as stdClass, if so ho

[2012-04-26 15:59] erratik opened #48 "issue with update_with_media method."
Hi,

I'm trying to update a status with a picture. But I keep getting stuck at error 26. I'm using this in a drupal7  local environment.
Here is the function:

<code>
function moxies_twitter_updates_status_with_media($tweet,$user,$replyID=NULL,$media){

[code]

}
## </code>

Once this runs, this is my response:
<code>
Array
(
    [code] => 0
    [response] =>
    [info] => Array
        (

[2012-04-26 18:33] #48 closed, assigned to themattharris

[2012-04-26 18:35] erratik commented on #48
We were using the URL to the image, not the path on the machine. So it works now!

[2012-04-27 02:53] mogita opened #49 "Can't post pictures from web (with a URI)"
Thanks Matt, this library works just fine.

There I met an issue though. When trying to post an image file from the web using its URI, and put the URI into one of the elements for the request array parameter, like this:

[code]

And var_dump() the tmhOAuth's response, there it says:

[code]

and of course the picture wasn't posted to my twitter timeline. But with a local image file it works fine,

[2012-04-30 12:02] mente commented on #49
Try using media without `@`. Probably curl tries to find file locally and fails to do it

[2012-04-30 12:37] mogita commented on #49
@mente I removed the @ sign and got "(403) Error creating status" response. Tried several different image sources, the error messages were the same. And thank you anyway =)

[2012-04-30 14:07] mente commented on #49
lib won't make any magic, it's a simple wrapper over rest call. [Check documentation](https://dev.twitter.com/docs/api/1/post/statuses/update_with_media). Looks like it doesn't support external images uploading. You will have to upload it first.

[2012-04-30 14:25] mogita commented on #49
@mente Thanks! It seems I have to download the image file first in order to upload.

[2012-05-03 22:03] trante opened #50 "Destroying pending friendship requests"
Is it possible to cancel follow request by REST API ?
Thank you.

[2012-05-05 17:06] trante opened #51 "Warnings from IDE"
I use phpStorm IDE.
And it gives many warnings in my code. Most of them because of **response** and **request**
Can you recommend me a way to discard tmhOAuth based warnings?

`$code=$tmhOAuth->request('GET', $tmhOAuth->url('1/account/totals') );`
Warning: 'void' method 'request' result used

`$responseData = json_decode($tmhOAuth->response['response'],true);`
Field 'response' not found in class t

[2012-05-06 04:05] themattharris commented on #46
thanks for raising this, i'll see if I can work out what's going on here.

[2012-05-06 04:06] themattharris commented on #51
this is a duplicate of issue#47 so i'm going to close it

[2012-05-06 04:06] #51 closed, assigned to themattharris

[2012-05-06 04:11] themattharris commented on #50
this is a question about the Twitter API itself, rather than tmhOAuth, and would be better asked on the Twitter Developer forums - https://dev.twitter.com/discussions

the Twitter Developer website also lists the methods available to you through the Twitter API: https://dev.twitter.com/docs/api

[2012-05-06 04:11] #50 closed, assigned to themattharris

[2012-05-06 04:22] themattharris commented on #47
try adding this line to the top of the tmhOAuth class.
`var $response = array();`

so tmhOAuth.php will start something like:

[code]

if that solves the issue let me know.

[2012-05-06 04:33] themattharris commented on #49
@mente thanks for helping with this one - appreciate you stepping in.

@mogita a little bit more background: the issue is that cURL itself, which tmhOAuth uses, doesn't support POSTing a file using a URL. instead the file being POSTed must be local to the script performing the upload - which means uploading to your server, and then to POSTing to Twitter.  I have an example where I do this in https

[2012-05-06 09:34] trante commented on #51
I'm sorry i missed.

[2012-05-06 09:39] trante commented on #47
Thank you. Warnings for **response** were disappeared.

But still IDE complains about **request**.
_$code=$tmhOAuth->request('GET', $tmhOAuth->url('1/account/totals') );
Warning: 'void' method 'request' result used_

I suppose this warning is IDE's bug?

[2012-05-07 04:07] trante commented on #47
"request" function's warnings are solved when i changed phpDoc of function.
Return tag, from void to int.
Is "void" word typo there ?
Thank you

  /**
- Makes a curl request. Takes no parameters as all should have been prepared
- by the request method
  *
- @return **int** response data is stored in the class variable 'response'
  */

[2012-05-08 14:34] arjun231005 commented on #48
I have the same issue.. can you please tell me how did you solve it... thank you

[2012-05-09 07:24] DrayChou opened #52 "Strict Standards: Non-static method tmhUtilities::pr() should not be called statically in E:\xampp\htdocs\themattharris-tmhOAuth-d0b0bc6\examples\entities.php on line 85"
Strict Standards: Non-static method tmhUtilities::pr() should not be called statically in E:\xampp\htdocs\themattharris-tmhOAuth-d0b0bc6\examples\entities.php on line 85

Strict Standards: Non-static method tmhUtilities::is_cli() should not be called statically in E:\xampp\htdocs\themattharris-tmhOAuth-d0b0bc6\tmhUtilities.php on line 157

when i run http://localhost/themattharris-tmhOAuth-d0b0bc6

[2012-05-14 10:06] karupse opened #53 "Streaming api with follow is not working?"
I am using track keyword with streaming.php...
It works fine. It tracks the tweets.
But i am just using follow param it shows empty string as tweet.
What is the issue here?

[2012-05-22 05:24] themattharris commented on #49
gonna close this issue as it the answers above explain that you need to post the image from the host running the code, rather than posting via a URL.

[2012-05-22 05:24] #49 closed, assigned to themattharris

[2012-05-22 05:25] themattharris commented on #47
interesting, to be honest i should review those phpdocs. i don't use an IDE which reads them so these ommissions are generally obscured from me.
thanks for sharing your findings.

[2012-05-22 05:27] themattharris commented on #46
interestingly this appears to be a fault in the way PHP works with libCurl. i'm looking for ways around this but there doesn't seem to be a 'nice' way to do it. i'll keep trying things though.

[2012-05-22 05:27] themattharris commented on #52
which version of PHP are you running and what level of logging is your system set to?

[2012-05-22 05:30] themattharris commented on #53
remember the streaming API only sends tweets sent by the user after you connect to the streaming API -- and only if the user hasn't marked their account as protected - could that be what's happening for you?

[2012-05-22 05:55] DrayChou commented on #52
PHP Version 5.3.8
System  Windows NT SRPC1193 5.1 build 2600 (Windows XP Professional Service Pack 3) i586
Build Date  Aug 23 2011 11:47:20
Compiler    MSVC9 (Visual C++ 2008)
Architecture    x86
Configure Command   cscript /nologo configure.js "--enable-snapshot-build" "--disable-isapi" "--enable-debug-pack" "--disable-isapi" "--without-mssql" "--without-pdo-mssql" "--without-pi3web" "--with-pdo-

[2012-05-24 11:28] mishak87 opened #54 "Support for Composer"
Hi,
I would appreciate if you could support http://packagist.org/ repository system for php. I is just one json file. Thanks

[2012-05-29 02:38] christianchristensen commented on #54
(Note: there may be a better place to put this...) I was looking at this project, but was a bit hampered by the lack of composer (although, I believe with a little more research could probably just use the git repo in a composer config...); however, I decided to move forward with the original PEAR libraries for OAuth (https://gist.github.com/2495726), this might serve as an example for how to depe

[2012-06-01 22:56] trante commented on #47
Thank you for help.

[2012-06-05 23:00] timersys opened #55 "Character encoding in status"
I cant make it work with special characters as á é í ñ ,etc.

A while ago with another library i fixed by doing utf8_encode() to the status message but here its just removing the characters. Any clues?

[2012-06-16 13:22] timb1 opened #57 "response codes"

[2012-06-16 14:38] #57 closed, assigned to themattharris

[2012-06-24 22:19] oosswwaalldd opened #58 "Streaming API output to web browser"
Hi Matt,

is there any way to output (handle) the output of the streaming api (streaming.php) to direct it to a web browser? I mean, currently it outputs to console very well as I tested it, but when I run it in Chrome it does not.

Is streaming API rate limited by the same REST API rules?

I would appreciate some help here!, thanks!

[2012-06-27 06:09] idancali opened #59 "Failed to validate oauth signature and token"
Hi Matt,

I've been playing with your library and for some reason I got stuck when attempting to authenticate. I can actually do a status update and I can even get a list of friends but unfortunately I cannot seem to be able to get a request_token. I keep getting a 401 Unauthorized with "Failed to validate oauth signature and token".

This is what I'm trying to do. Pretty straight forward:

[code]

[2012-06-27 06:14] themattharris commented on #59
hey,

if i'm reading your code correctly you're making a request to oauth/request_token but signing it with the user_token and secret. the thing is, the request_token phase is the beginning of the oauth process for which there must not be a user_token and user_secret.

if you have a user_token and user_secret the oauth authentication process is complete and you don't need to do it again - at least

[2012-06-27 06:22] idancali commented on #59
Thanks for the prompt reply, Matt.
You're right, those two params should've been removed. I did that though and same result unfortunately.

[2012-06-27 06:24] themattharris commented on #59
can you do a var_dump($tmhOAuth) at the end and share it.
just remember to remove anything you consider sensitive like the oauth keys and secret and IP.

[2012-06-27 06:28] idancali commented on #59
You know what the second time around I actually got an error message related to the fact that my callback on the App Details page was empty. I added a placeholder and everything just worked. Thanks again for your support. Cheers!

[2012-06-27 06:28] #59 closed, assigned to themattharris

[2012-06-27 06:31] themattharris commented on #59
excellent - glad you got it worked out.

[2012-06-27 06:33] idancali commented on #59
Yeah thanks really appreciate your support I'm impressed at how promptly you answered my question.

[2012-07-11 21:28] trante opened #60 "Support request: 404 error after retweet action"
I can successfuly post statuses but I'm stuck with retweet.

I'm trying to retweet a tweet by using Twitter API and tmhOauth with following snippet:

`$tmhOAuth = new tmhOAuth(array( 'consumer_key'    => YOUR_CONSUMER_KEY,
                      'consumer_secret' => YOUR_CONSUMER_SECRET,
                       'user_token'      => $atoken1,
                      'user_secret'     => $atoken2, ));
$

[2012-07-12 02:00] themattharris commented on #60
for retweets the tweet ID should be sent as part of the URL, not as a param.

[2012-07-12 07:52] trante commented on #60
this solved as you noted
    $code = $tmhOAuth->request('POST', $tmhOAuth->url('1/statuses/retweet/223136515088318466'));

Thank you very much for help.

[2012-07-12 07:52] #60 closed, assigned to themattharris

[2012-07-12 14:38] themattharris commented on #60
glad that fixed it! thanks for letting me know it worked

[2012-07-19 14:28] dafinley opened #61 "Upload with Url"
Is there a way to upload a photo with a url that is not on the local hardrive?  For example facebook.com/favicon.ico  <-- It is a url that is web accessible.

[2012-07-21 20:33] nalagg opened #62 "Failed to validate oauth signature and token"
im getting this on oAuth,   examples/auth.php

heres my varDump
object(tmhOAuth)#1 (5) {
  ["params"]=>
  array(0) {
  }
  ["headers"]=>
  array(0) {
  }
  ["auto_fixed_time"]=>
  bool(false)
  ["buffer"]=>
  NULL
  ["config"]=>
  array(28) {
    ["user_agent"]=>
    string(56) "tmhOAuth 0.621+SSL - //github.com/themattharris/tmhOAuth"
    ["use_ssl"]=>
    bool(true)
    ["host"]=>
    string(15)

[2012-07-23 03:55] themattharris commented on #62
hey there,
it looks like you are specifying the user_token and user_secret when creating the $tmhOAuth object. when performing auth you should only be specifying the consumer_key and consumer_secret. this is because the auth.php script is there to help you get a user_token and user_secret. if you already have them you don't need to go through that flow.

let me know if removing the user_secret and

[2012-07-23 04:04] themattharris commented on #53
closing this one out as there hasn't been a follow up response from the original author in 2 months

[2012-07-23 04:04] #53 closed, assigned to themattharris

[2012-07-23 04:15] themattharris commented on #55
interesting, i've tried this before with my library (without modification) and it submitted successfully. do you mind sharing the code snippet you are using to send those characters. i used:

[code]

which worked without trouble. here's a snippet of the response:

[code]

[2012-07-23 04:20] themattharris commented on #58
hey there,
the streaming api isn't really built for use in a web browser - at least not the way you suggest you are trying to. if you want to stream content to the web browser i would instead recommend researching the concept of web sockets.

alternatively, consume the streaming API on your server and then have your browser poll your server for a processed response.

to answer your other question,

[2012-07-23 04:20] #58 closed, assigned to themattharris

[2012-07-23 04:24] themattharris commented on #61
hey,
tmhOAuth wraps libcurl and uses it to send content to the twitter API -- this means it has the same restrictions/requirements as libcurl. the twitter api also does not support uploading directly from a url, and requires the image you wish to publish be sent as the POST body of the request.

to upload an image from a url you would need to first download the contents of that url to your server,

[2012-07-23 04:24] #61 closed, assigned to themattharris

[2012-07-23 12:59] nalagg commented on #62
setting the user_token and user_secret to '' did the trick

[code]

[2012-07-24 01:12] #62 closed, assigned to themattharris

[2012-07-24 16:02] myronjhicks opened #63 "Call to undefined function curl_init()"
Fatal error: Call to undefined function curl_init() in C:\xampp\htdocs\TwitterApp\tmhoauth\tmhOAuth.php on line 567

The error I get when trying to recreate your simple tweet example, would you have any input on this?

[2012-07-24 17:18] themattharris commented on #63
it sounds like your PHP installation doesn't include support for libcurl. if you run:

[code]

do you get anything displayed? if not you need to talk to your hosting provide about having libcurl support added to your install.

[2012-07-24 18:24] myronjhicks commented on #63
Thanks I found the issue, but before we close the issue, I've taken a look at response codes, but the response code I am getting is 0. Do you have any input?

[2012-07-24 19:04] themattharris commented on #63
if you look at the output of $tmhOAuth->response['error'] it will include some information about the error. the most common cause of the 0 return is the SSL connection couldn't be established. this is normally because the .pem file included in tmhOAuth isn't included in the root of your project.

[2012-07-24 19:14] bsabiston opened #64 "does photo tweet work?"
Hi,

 I was trying to follow the example of your photo-tweet code.  I get a result code of 0, and the printout from the line
tmhUtilities::pr($tmhOAuth->response['response'])  seems to be the following:

< pre style= "word-wrap: break-word"> </pre>

But it does not send the tweet.  I have been able to send a text-only tweet with another example I found online, though I haven't tried it with these

[2012-07-24 19:26] bsabiston commented on #64
Oops I saw that other post about including the .pem file.  That was my problem.  It works great!
Thanks
Bob

[2012-07-24 19:26] #64 closed, assigned to themattharris

[2012-07-24 19:31] myronjhicks commented on #63
That didnt seem to do the trick, if you have any other input I'd appreciate it if not thank you for the responses.

[2012-07-24 19:45] themattharris commented on #63
if you can share the result of var_dump($tmhOAuth->response) i can take a look and see what's happening. remember to remove any secrets or passwords which may exist in the object before pasting.

[2012-07-24 20:28] myronjhicks commented on #63
I'm not even sure I understand how to call that or where the output would be. Although I have some coding knowledge I dont know a lot about it. I'm working in the IDE Netbeans. I can tell you that when I call for the response I get nothing in return as output to the web browser.

[2012-07-24 20:29] themattharris commented on #63
add this to the end of the script:

[code]

[2012-07-24 20:45] myronjhicks commented on #63
Thanks the response is:

array (size=5)
  'code' => int 0
  'response' => boolean false
  'info' =>
    array (size=26)
      'url' => string 'https://api.twitter.com/1/statuses/update.json' (length=46)
      'content_type' => null
      'http_code' => int 0
      'header_size' => int 0
      'request_size' => int 0
      'filetime' => int -1
      'ssl_verify_result' => int 0
      'redirect_coun

[2012-07-24 22:07] bsabiston opened #65 "Is there a way to tweet a photo that links to a URL"
I would like to have a photo appear in my tweet, but I would like the link that appears to go somewhere else.  Is that possible?
Thanks
Bob

[2012-07-24 22:24] themattharris commented on #65
hey, this is a better question for the twitter developer forum on https://dev.twitter.com/discuss. my library just wraps the Twitter Api so it can only do what the Twitter API supports.

[2012-07-24 22:24] #65 closed, assigned to themattharris

[2012-07-24 22:36] themattharris commented on #63
ok, this is suggestion your server is unable to connect over SSL.
as an experiment, try doing this when you create the $tmhOAuth object.

[code]

i don't recommend keeping it that way, but it will test whether the problem is with your SSL setup or not.

[2012-07-25 00:39] dafinley commented on #61
You might be able to help. I was able to download the photo to my server,
but Im still not able to upload the photo to twitter https://dev.twitter.com/discussions/9424

[2012-07-25 17:28] myronjhicks commented on #63
The problem that I was having came from issues using xammp and locoalhost Im guessing as I was connected through my company's VPN. Once I got home I was able to run it without any problems. One more question, I'm trying to go through your steps in getting a user's tokens. I came across other issues on here which you pointed out that they should leave the user token fields blank when calling the ob

[2012-07-30 19:46] trante opened #66 "Support request for get followers ids"
I'm sorry for such a question but I'm stuck in this problem.. Please close it if it's irrelevant ..

From REST API of twitter I user get/followers function. I pasted a code snippet below.

My problem is, modt of the time I get followers' ids successfully. But when a user has more than 5000-6000 followers then my results comes wrong.

When I check from user's profile page, I see that user has 5500

[2012-07-31 19:33] trante commented on #66
After some debugging I found out that sometimes cursors don't come right.
I added oneline to my original question and added "$cursor_archieve" variable.
3 tryout's outputs of "$cursor_archieve" is below.

[code]

Users of this examples has followers between 5500-6500.

[2012-08-02 09:31] garyw75 opened #68 "Unfollow User"
I was wondering if an example on how to unfollow a user could be added?

[2012-08-03 18:49] lior2007 opened #69 ""Problem with the SSL CA cert (path? access rights?)""
Hi,

I'm using tmhoath to twit images but I cannot connect (although it used to work a few month ago). When I tried running verify_ssl.php (https://github.com/themattharris/tmhOAuth/blob/master/examples/verify_ssl.php) it returned "Problem with the SSL CA cert (path? access rights?)" (and this is the same error I receive when I try to twit). Any suggestions on how to resolve this?

Thanks,
Lior

[2012-08-05 19:04] iamctodd opened #70 "Problem with the date?"
Warning: strtotime(): It is not safe to rely on the system's timezone settings. You are _required_ to use the date.timezone setting or the date_default_timezone_set() function. In case you used any of those methods and you are still getting this warning, you most likely misspelled the timezone identifier. We selected 'America/New_York' for 'EDT/-4.0/DST' instead in /path/to//tmhOAuth/examples/stre

[2012-08-06 18:31] strlng opened #71 "Using tmhOAuth as delegate?"
I am trying to figure out how to set up a delegate service with tmhOAuth. The client sends the request to my web app from a Twitter client and I need to verify the sender's identity from the headers in their request. I cannot figure out how to get this done. Is this not possible with the library or am I missing something?

[2012-08-23 18:34] trante commented on #66
My bad. I made a programmatic error. Sorry.

[2012-08-23 18:34] #66 closed, assigned to themattharris

[2012-08-25 17:42] jaimerump opened #72 "Failed to validate OAuth signature and token"
I'm trying to use the library to get a Twitter user's access tokens via the code presented in the oauth_flow.php example. https://github.com/themattharris/tmhOAuth/blob/master/examples/oauth_flow.php

Every time I get the error "failed to validate oauth signature and token" from the very first request that is made in the request_token function. I have checked the server time and it is within about

[2012-08-29 15:25] oosswwaalldd opened #73 "How to Implement an API Request TimeOut (PHP) ?"
Hi Matt,

I am working on a web page project that get and lists an authenticated user's followers, but I have encountered once in a while that the request made:

$tmhOAuth->request('GET', $tmhOAuth->url('1/followers/ids'), array('cursor' => -1)); [note that I use themattharris php lib]

takes too long to get back from Twitter and therefore and "error_log" file is created indicating that the file h

[2012-08-31 10:28] ghost opened #74 "Streaming API stops receiving data"
Hi,
since a few weeks my application starts regularly and receives live tweets for a while (5/10/30 minutes) and then suddenly stops without giving me any feedback.
If i restart it again the cycle repeats.

Is there any known problem? The app used to work perfectly fine

Thanks in advance

[2012-09-04 03:10] themattharris commented on #73
hey oosswwaalldd,

the library sets a connect timeout of 30 seconds and a curl timeout of 10 seconds. you can change these yourself in the initialisation of the tmhOAuth object. for example:

[code]

if you are having trouble you most likely you will want to change the curl_connecttimeout to something lower like 5 (5 seconds)

[2012-09-04 03:22] themattharris commented on #70
thanks for sharing this. those warnings can be annoying so, to make it easier for everyone, including me :), i'll add a configuration option to tmhOAuth and make it so it sets the default timezone itself.

[2012-09-04 03:24] themattharris commented on #68
hey garyw75, i'll get one of those added for you.
i'm in the process of moving the examples to their own repository: https://github.com/themattharris/tmhOAuth-examples and will the example in there.

[2012-09-04 03:30] themattharris commented on #68
hey garyw75,

i've added an example showing how to use this here: https://github.com/themattharris/tmhOAuth-examples/blob/master/unfollow.php

hope that helps!

[2012-09-04 03:30] #68 closed, assigned to themattharris

[2012-09-04 03:31] themattharris commented on #55
closing this one out. if my comment above didn't help please let reopen letting me know what isn't working.

[2012-09-04 03:31] #55 closed, assigned to themattharris

[2012-09-04 03:45] themattharris commented on #63
sorry for the delay in responding to your last comment - super happy you were able to track down the connection issue though.

for your other question: which auth example are you using? it sounds like you are entering a username and password in the script somewhere - perhaps the xAuth example? for xAuth - you must have Twitter's permission before xAuth will work.

if you know the access token/secr

[2012-09-04 03:49] themattharris commented on #69
hey llor2007,
apologies for the slow response to your question. the error you are getting suggests the cacert.pem file included in the tmhOAuth repository could not be found.

double check cacert.pem is in the same folder as the tmhOAuth.php script. if not, set the curl_cainfo and curl_capath configuration attributes so that they point to the place where cacert.pem is. for example:

[code]

[2012-09-04 03:56] themattharris commented on #74
there's nothing i'm aware of that would affect the scripts ability to consume from the streaming API.
have you asked if there are any issues with the Streaming API on dev.twitter.com/discuss?

one thing to check though - do you process the response of the streaming API using the same process you use to listening to it?
it's recommended you consume in one script, pass that to a file or queue, and p

[2012-09-04 04:17] themattharris commented on #54
Duplicate of #39

[2012-09-04 04:17] #54 closed, assigned to themattharris

[2012-09-04 15:06] lior2007 commented on #69
Hi Matt,

It worked!! Thanks =)

Regards,
Lior Dagan

Sent from my iPhone

On 4 בספט 2012, at 06:49, Matt Harris notifications@github.com wrote:

hey llor2007,
apologies for the slow response to your question. the error you are getting
suggests the cacert.pem file included in the tmhOAuth repository could not
be found.

double check cacert.pem is in the same folder as the tmhOAuth.php script.
if n

[2012-09-04 15:10] themattharris commented on #69
Awesome, thanks for letting me know.
i'll close this issue out as it's resolved for you.

[2012-09-04 15:10] #69 closed, assigned to themattharris

[2012-09-04 17:59] themattharris commented on #52
i've been through and made as much as i can find strict compliant in 0.7.0. if you get any more warnings open up a new issue and i'll get to fixing them.

[2012-09-04 17:59] #52 closed, assigned to themattharris

[2012-09-04 18:06] themattharris commented on #70
i've added this config options and feature into 0.7.0. props given in readme and the commit message

[2012-09-04 18:06] #70 closed, assigned to themattharris

[2012-09-04 18:18] themattharris commented on #72
hey jaimerump,

thanks for the details write up of the issue you are experiencing.
the error response you are getting is coming directly from the Twitter API, which means there isn't an issue with the timeout or SSL configuration - although it's great you checked. it is recommended you use SSL though (so turned that back on is a good idea).

this error usually means there is an issue with the sign

[2012-09-04 18:22] themattharris commented on #71
which stage of the request do you want to use the library for:
- generating the verify headers?
- sending the verify headers to twitter?
- something else?

it can do any of them so let me know which you are interested in and i'll get an example put together for you.

[2012-09-06 00:08] oosswwaalldd commented on #73
Thanks! I will try that!

Another thing.. are you going to change the libs to adapt it to the new Twitter API changes? if so, is there a date?

Thanks!

[2012-09-09 20:05] LeagueRivals commented on #63
I have the same Fatal Error as the original post - Call to undefined function curl_init() in C:.....tmhOAuth.php on line 581? I'm currently running it through a testing server on Dreamweaver. Any help would be appreciated. Ta

[2012-09-10 20:10] briggl opened #75 "problems with tmhOAuth"
When I try to use your tmhOAuth.php library, I get this error:

[10-Sep-2012 13:06:20] PHP Parse error:  syntax error, unexpected T_CONST, expecting T_OLD_FUNCTION or T_FUNCTION or T_VAR or '}' in /home/briggl/public_html/oauth/tmhOAuth.php on line 15

What am I doing wrong.
I have included the library in the php file and it gets the error as soon as it tries to use the library.

[2012-09-10 21:23] themattharris commented on #75
hey briggl,

what version of PHP are you using?
and how are you including the tmhOAuth.php in your script?

[2012-09-10 21:27] themattharris commented on #63
hey tatters1979,
the error `undefined function curl_init()` suggests your install doesn't have support for curl compiled.

when you look at your PHP info do you see curl listed? you can do this using a script like this:

[code]

also, can you tell me if you are running this on a mac/linux/windows machine? (if you don't have curl installed the solution varies between platforms).

[2012-09-10 21:32] themattharris commented on #73
let me know how the timeout change worksout for you.
for the recent changes to the Twitter API there aren't any updates necessary for the tmhOAuth.php script. it takes a developer/user defined URL at runtime so any new urls are string replacements in your implementation.

i'll get some API 1.1 examples put together and added to https://github.com/themattharris/tmhOAuth-examples to show how to do i

[2012-09-11 09:18] neave commented on #63
I had this same problem on Mac OS X. Curl wasn't installed with my PHP set up. It's simple to fix if you're using MacPorts:

`sudo port install php5-curl`

Then restart your PHP server or web server.

[2012-09-11 14:06] briggl commented on #75
The version of PHP that my web host uses is 4.4.9

I am using this statement to include your library:

[code]

This include seems to work because it gets an error with your tmhOAuth.php
file, not with the file being missing or anything like that.

lee

On Mon, Sep 10, 2012 at 5:23 PM, Matt Harris notifications@github.comwrote:

[2012-09-11 18:06] LeagueRivals commented on #63
Thanks for the quick response Matt/neave, I found the curl file in the C:\xampp\php files. I added it to my php files but I seem to have a new error?

Fatal error: require() [function.require]: Failed opening required 'C:/xampp/htdocs/check_php/admin/tmhUtilities.php' (include_path='.:/usr/services/vux/lib/php') in /data/17/2/90/131/2742131/user/3013853/htdocs/index.php on line 40

I'm pretty new

[2012-09-12 13:41] strlng commented on #71
I figured it out. Thanks though. I'm using your library in this Wordpress plugin: http://wordpress.org/extend/plugins/twitter-media-endpoint/

[2012-09-12 13:41] #71 closed, assigned to themattharris

[2012-09-12 15:07] briggl commented on #75
I have updated to PHP5 (version 5.2.17) and the previous error has gone away.

Now, when I test the code, I get a 401 response. (I have double-checked the keys)

Here is the code I am using (with keys replaced by 00000)

//set the message to tweet
    $tweet_text = "Message to Tweet";

//Matt Harris OAuth library to make the connection
    require_once('../oauthfolder/tmhOAuth.php');

//Set the au

[2012-09-12 15:12] themattharris commented on #75
glad upgrading to PHP 5 solved the first issue for you. the library is only tested for compatibility to PHP 5 so knowing there are issues with PHP 4 are not surprising -- but also helpful to note (i'll update the readme saying PHP 5 is required now I think).

for the second issue, what is the contents of `$connection->response['raw'];`? it should contain an explanation as to why the 401 error was

[2012-09-12 15:13] themattharris commented on #71
excellent, glad you worked it out! and for sharing your solution.

[2012-09-12 15:18] themattharris commented on #63
neave, thanks for helping tatters1979 out.
tatters1979 - glad you got the curl functionality working on your machine.
for the latest issue you are reporting PHP is trying to tell you it can't find the file tmhUtilities.php in path `C:/xampp/htdocs/check_php/admin/`.

try putting `tmhUtilities.php`, and `cacert.pem`, in the same location as the `tmhOAuth.php` script, and `require`ing `tmhUtilities.

[2012-09-12 15:26] briggl commented on #75
I think I see the problem... "Read-only application cannot POST" at the end of the output. I guess I missed the check box when I set up the app. Am I correct?

HTTP/1.1 401 Unauthorized Date: Wed, 12 Sep 2012 15:22:53 GMT Status: 401 Unauthorized Cache-Control: no-cache, max-age=300 Content-Type: application/json; charset=utf-8 WWW-Authenticate: OAuth realm="https://api.twitter.com" Set-Cookie: k=

[2012-09-12 15:42] briggl commented on #75
I went into the settings for the app and changed it from READ ONLY to READ AND WRITE.
I waited a while and I am still getting the same response.
How long should it take for the change?

(Or is there something else I need to do?)

[2012-09-12 16:28] briggl commented on #75
I figured that one out too.

After changing it to R/W, I didn't recreate the Access Token.
Once I did that it worked OK.

Thanks for your help.

[2012-09-12 16:29] oosswwaalldd commented on #73
No, I was kind of worried because my Twitter web app (with a lot of clients using it) relies 100% upon your PHP lib, I am calm now knowing that I dont have to update the lib itself but only some changes on the strings when calling the lib object. I am gonna proceed to read all the new API 1.1 documentation to verify those changes.

This is not a php lib related question but is there a deadline for

[2012-09-12 16:58] themattharris commented on #73
so long as you stay current with my PHP lib versions (follow @tmhOAuth -- https://twitter.com/intent/user?screen_name=tmhOAuth to know about updates) things should be fine.

if anything does break on api 1.1 ticket me on github and i'll get it fixed up.

for the sunset of Twitter API v1.0, in https://dev.twitter.com/blog/changes-coming-to-twitter-api it was said that there would be six months to m

[2012-09-12 17:01] themattharris commented on #75
awesome - glad you worked it out and that things are working for you.
if that's resolved can we close this ticket out?

[2012-09-12 17:03] oosswwaalldd commented on #73
Thanks Matt

[2012-09-12 17:03] #73 closed, assigned to themattharris

[2012-09-12 17:12] briggl commented on #75
yes, sir

On Wed, Sep 12, 2012 at 1:01 PM, Matt Harris notifications@github.comwrote:

[2012-09-12 20:38] silvestret opened #76 "Tweet image is not working for me"
[code]

//                          'https://upload.twitter.com/1/statuses/update_with_media.json',
                            array(
                                'media[]'  => "@{$image}",
                                'status'   => $tweet_text
                            ),
                            true, // use auth
                            true  // multipart
        );

[code]

I do

[2012-09-12 21:54] #75 closed, assigned to themattharris

[2012-09-12 21:58] themattharris commented on #76
it looks like you haven't defined `$tweet_text` which means you are trying to tweet with no text. try defining `$tweet_text` with something you want to post with the Tweet and try again.

[2012-09-12 22:04] LeagueRivals commented on #63
Massive thanks Matt, the file path on my hosting is a weird one (hosting with Network Solutions). Anyway I sorted it out and the picture posted perfectly. Awesome script, cheers mate.

[2012-09-12 23:47] themattharris commented on #63
great news, glad you worked it out and got things going. i'll close this out.

[2012-09-12 23:47] #63 closed, assigned to themattharris

[2012-09-13 08:46] trante opened #78 "Twitter API 1.1"
Hello,
- Will there be an update for [Twitter API 1.1](https://dev.twitter.com/docs/api/1.1/overview) soon?
  Thank you

[2012-09-13 11:51] trante commented on #78
It seems like for following commands only "1" to "1.1" change is sufficient.
- 1.1/friendship/create
- 1.1/friendship/destroy
- 1.1/statuses_update
- 1.1/direct_messages/new
- 1.1/statuses/retweet
- 1.1/account/verify_credentials
- 1.1/users/lookup
- 1.1/followers/ids
- 1.1/friends/ids

[2012-09-13 13:24] silvestret commented on #76
$tweet_text is defined like a parameter in the function

function post_tweet($tweet_text,$image) {

i have tried of two ways:

  'https://api.twitter.com/1.1/statuses/update_with_media.json',
  'https://upload.twitter.com/1/statuses/update_with_media.json',

version 1.1 and version 1 really dont know which the problem is, but is not possible upload an image for me :(

[2012-09-13 13:31] oosswwaalldd commented on #76
I think the problem is in the second parameter in the request done of the $connection object:

'https://api.twitter.com/1.1/statuses/update_with_media.json',

You must change it to:

'1.1/statuses/update_with_media.json',

Hope That works

[2012-09-13 15:07] themattharris commented on #78
hey trante, there's a ticket on the examples repository to do this (https://github.com/themattharris/tmhOAuth-examples/issues/2) which i'll be working on in the next few days.

tmhOAuth.php itself does not require any changes to be compliant with Twitter API v1.1.

closing this ticket out as it's a duplicate of the one for the examples repository.

[2012-09-13 15:07] #78 closed, assigned to themattharris

[2012-09-13 18:03] trante commented on #78
Ok. Thank you very much for response.

[2012-09-14 18:03] kemdmq opened #79 "Could not authenticate you"
I'm sorry for my english but isn't my native language. I've received an error when I tried to use your twitter authentication library, I make  the object with two parameter (consumer_key, consumer_secret), then I request get the authorize url, to set the oauth_token and oauth_verifier ($tmhOAuth->config), until here everything is fine, but when i try to credentials verify account  [$tmhOAuth->requ

[2012-09-15 22:47] andobolocco opened #80 "tmhOAuth.php (65) -> curl_cainfo ISSUE"
'curl_cainfo'                => dirname(**FILE**) . '/cacert.pem',

should be

'curl_cainfo'                => dirname(**FILE**) . DIRECTORY_SEPARATOR . 'cacert.pem',

for windows environments.

thanks.

[2012-09-16 16:36] robinflyhigh opened #81 "API Version v1.1 access"
I wanted to call https://dev.twitter.com/docs/api/1.1/get/friendships/lookup api and the url to call this is http://api.twitter.com/1.1/friendships/lookup.json

Since this was added on version 1.1 using the old Api Url give Sorry, that page does not exist with Error Code 34

So we need to change

$this->url = strtolower("$scheme://$host");

to

$this->url = strtolower("$scheme://$host/1.1");

Simp

[2012-09-16 17:16] LeagueRivals opened #82 "Add text to image upload"
I'm using the simple form for users to upload their own photos/images instead of the fixed photo/image option. Is it possible to add text area/input box for the user to add their own text with the photo/image (instead of the fixed 'Picture Time' comment)? Thanks

[2012-09-16 21:00] conradkleinespel commented on #81
Or you can just make a `$tmhOAuth->request('GET', '/1.1/uri/here')`, no?

[2012-09-17 19:41] trante opened #83 "401 Could not authenticate you error"
I can successfully use tmhOAuth for signined users. Everything is OK when I use users' access tokens. I can use their tokens for nearly every API request.

Then I tried to use my application's access tokens. I opened application page:
[http://i46.tinypic.com/1i1hk4.jpg](http://i46.tinypic.com/1i1hk4.jpg)

And copied "access token" and "access token secret" values to following code snippet. But I g

[2012-09-18 13:58] silvestret commented on #76
no oosswaaaldd, i think we have to use the complete url to do the request to twiiter api not a relative.

[2012-09-18 15:00] themattharris commented on #81
@robinflyhigh, modifying that line would make every url begin with 1.1. this would prevent the library being used for other APIs, and also prevents use of Twitter's own /oauth endpoints.

instead the correct way of doing this is how @conradkleinespel has demonstrated.
hope that helps

[2012-09-18 15:00] #81 closed, assigned to themattharris

[2012-09-18 15:26] robinflyhigh commented on #81
@themattharris @conradkleinespel Suggestion taken. Thanks

[2012-09-24 14:28] anchetaWern opened #84 "how to get permanent user token and secret"
I'm always getting the 401 error whenever I make use of the user token and user secret:
I'm looking on the code at: https://github.com/themattharris/tmhOAuth-examples/blob/master/oauth_flow.php
so I basically have this on the access_token() function. So I'm assuming that the user has already been verified at that point in time.

[code]

I make use of those in another page as follows:

[code]

My q

[2012-09-26 16:04] mwilber commented on #76
I'm running into the same issue. v1 of the api (https://upload.twitter.com/1/statuses/update_with_media.json) but v1.1 (https://api.twitter.com/1.1/statuses/update_with_media.json) fails with code 0.

[2012-09-26 19:08] mwilber commented on #76
Disregard my last comment. The issue was unrelated to the upload url. The error came from a leading @ sign in the status message. In this case my script would tweet the photo to a specific user "@greenzeta here's your photo...". If I modify the message so the @ sign is not leading, "Here's your photo @greenzeta ..." it works. I haven't looked any more deeply than this so I don't know if the issue

[2012-09-26 19:11] themattharris commented on #76
@mwilber: the issue you had is discussed in issue #46.

[2012-10-03 13:44] stuayre opened #86 "£ sign not working in tweets"
posting tweets are working fine, until I put one that uses the £ sign, then I get an error: 400

it works for for $ signs tho, just won't work for £

is this a limitation?

[2012-10-03 13:52] neave commented on #86
I've just checked this and can confirm that using a £ as the first character in a tweet (posted with an image) will fail (using either the v1.0 or v1.1 API). Putting the £ character anywhere else in the tweet works. This is identical to issue #46 where an @ character at the start of a tweet will fail also.

The fix is to check the first character of the tweet when posting and to prefix it with a s

[2012-10-03 13:55] stuayre commented on #86
Hmm thanks for the reply, I was putting the £ sign in the middle of the tweet tho. it also doesn't seem to like ( ) am I doing something wrong?

[2012-10-03 14:01] neave commented on #86
Hm OK I'm not seeing the £ problem any more after a few more checks. Not sure what's going on here! Tried a few other characters too ! % ^ & \* + ) and ( and they all seem to be OK.

[2012-10-03 14:20] stuayre commented on #86
Yeah weird, I made a new script and it seems to work, but in my application this is what im getting back...

{"error":"Invalid Unicode value in one or more parameters","request":"\/1\/statuses\/update.json"}"
    ["headers"]=>
    array(14) {
      ["date"]=>
      string(29) "Wed, 03 Oct 2012 14:14:33 GMT"
      ["status"]=>
      string(15) "400 Bad Request"

["request_params"]=>
  string(48) "s

[2012-10-03 14:55] stuayre commented on #86
I got it working, I had two scripts exactly the same... one worked one didn't i dont know why. so i copied everything over from my application into the working script apart from the function to post to twitter and its working now. thanks!

[2012-10-04 19:28] xDEADC0DE opened #87 "Failed to validate oauth signature and token"
Sorry to leave another "Failed to validate oauth signature and token", but I don't know where to look. Here's the code :

[code]

I get the following error :
Error: Failed to validate oauth signature and token

[2012-10-04 19:43] xDEADC0DE commented on #87
Here's the var_dump :
object(tmhOAuth)[1]
  public 'response' =>
    array (size=7)
      'raw' => string 'HTTP/1.1 401 Unauthorized

Date: Thu, 04 Oct 2012 19:10:52 GMT

Status: 401 Unauthorized

Pragma: no-cache

X-Transaction: 74c0165f0440a1f3

Last-Modified: Thu, 04 Oct 2012 19:10:52 GMT

X-Runtime: 0.03336

X-Frame-Options: SAMEORIGIN

Expires: Tue, 31 Mar 1981 05:00:00 GMT

Content-Type: tex

[2012-10-05 07:02] ghost opened #88 "Twitter Card"
https://dev.twitter.com/docs/cards

twitter card structure for my website using. Send to api twitter card structure, however, does not seem writings. How can I solve it.

[2012-10-07 11:11] wiresfj opened #89 "How to Direct Message using tmhOAuth.php / tmhUtilities.php"
Hi Guys,

firstly I'm a great believer in the self-help so its a last resort in seeking help from you.

I want to send some direct messages to a twitter user using these great functions.

I have setup a Twitter Application and got the correct tokens etc..

I can post tweets to my account and have managed to send a photo as well, so all good so far.

I would really like to send some direct messages

[2012-10-08 07:45] #87 closed, assigned to themattharris

[2012-10-11 12:41] ethauvin opened #90 "Screen name is always lowercased."
In  _tmhUtilities.php_, `$value['screen_name']` always returns the screen name lowercased, regardless of the original casing.

Hope this helps,

E.

[2012-10-12 07:11] ethauvin commented on #90
Okay, I should not say always, often though.

E.

[2012-10-15 18:51] GhostToast commented on #83
Try to recreate all your keys, this worked for me.

[2012-10-17 05:56] tharrosinfo commented on #76
I have been trying to get the update_with_media working for me but did not succeed. I just tried various formats with $image like with and without the {} with and without the @ sign, between " " and between ' ', I tried with status first and then media, and with media first then status, all gave the same response an error occurs updating the status.
I am running Apache with PHP 5.2 on WinXP. I tri

[2012-10-17 16:45] tharrosinfo commented on #76
I guess I may have resolved it.

Instead of referencing the filename in $image it should hold the binary data

so I added:

$filename = "recept001.jpg";
$handle = fopen($filename, "rb");
$image = fread($handle, filesize($filename));
fclose($handle);

then

'media[]'  => "{$image};type=image/jpeg;filename={$filename}" ,

does the trick and the tweet is posted with an image.

[2012-10-18 14:05] tsarma commented on #76
In my case its still not working, even when I made the $image as binary data as mentioned above. I get response 0!!!
EDITED:
It works! my request url parameter was written wrong (../1/statuses/up.. instead of ../1.1/statuses/up.. )!! . And it works by the way without needing to fopen the image file. Just the right path to the image from the server root and it tweets.

[2012-10-18 14:53] tharrosinfo commented on #76
add

var_dump($connection->response);

$connection stands for the variable declared with new tmhOAuth

then remove the personal info (tokens) and post the code and the result for review for others to help you

[2012-10-22 15:04] ghost commented on #74
I opened a discussion here: https://dev.twitter.com/discussions/10446 a while back

I just put the data in a database for later processing, the receiving script is very simple: http://nopaste.me/paste/16046206055085604b46763

[2012-10-25 20:42] covati commented on #89
This is abstracted from an object we have wrapped around this library and I haven't tested this as it is pulled out, but it should help:

[code]

[2012-10-26 22:43] ghost opened #93 "Twitter REST API v1.1 appears to require non-empty Content-Length on POST"
A bit of an FYI:

I used to use tmhAOuth 0.14 and the Twitter API v1 without any issue and I could delete a status via

$tmhOAuth->request('POST', $tmhOAuth->url('1/statuses/destroy/'.$id));

when I upgraded to tmhOauth 0.70 and the new Twitter REST API v1.1 was released, this no longer works and was getting a '411 Content-Length Required' message. I have to provide a non-empty array to the post p

[2012-10-27 00:54] oosswwaalldd opened #94 "Twitter API V1.0 Error Code 411 Length Required"
Hi Matt,

I am getting error code 411 "Length Required" when calling this API to start the Auth Dance:

[code]

This worked for me until today, what should I fix here? I 100% sure is a change in Twitter platform I dont know. I am using the latest version of thematharris lib (0.7.0) and still on API V1.0

Here the response array(there are some ****\* for sec reasons):

[code]

[2012-10-27 01:43] oosswwaalldd commented on #94
Ok, I just fixed the issue by adding a second "dummy" parameter to the API call

[code]

Is there anything that need to be fixed in the lib besides this?

Thanks!

[2012-10-27 02:07] ghost commented on #94
i think the Twitter API updated and has a bug. Obviously your API call had content in the parameter list and adding a minor bit of data made it work. Just like my issue I posted earlier, add enough data to get past whatever bug they introduced. Their byte count is off by one when taking in the inputs I bet.

edit: not sure if this is actually true since my status updated work fine via 1.1/statuses

[2012-10-27 02:11] oosswwaalldd commented on #94
Yes Pavement i added the second dummy param after reading your post. Thanks!

[2012-10-27 08:47] neave commented on #94
Confirmed. I have this error 411 reported using v1.1 API too. The fix from @oosswwaalldd does this trick, thanks! Does anyone know if this bug has been filed on Twitter's API site? https://dev.twitter.com/issues I'd like to up-vote.

[2012-10-27 08:48] neave commented on #93
Thanks @pavemen has this been filed at https://dev.twitter.com/issues anywhere do you know?

[2012-10-27 10:57] MattFyot commented on #94
Thanks a lot guys, that fixed the issue for me too!
Obviously some breaking changes were implemented about 12 hours ago by Twitter as it was running smoothly prior to that.
It seems to affect only the Auth Dance though as we did not have to implement that fix to other API calls.

[2012-10-27 11:38] rasa commented on #94
When I changed line 625 of `tmhOAuth.php` from

[code]

to

[code]

the problem went away.

[2012-10-27 11:48] rasa commented on #94
I filed a bug here: https://dev.twitter.com/issues/643

[2012-10-27 13:06] ghost commented on #94
@MattFyot this effected my statuses/destroy call in API v1.1

[2012-10-27 15:31] oosswwaalldd commented on #94
I think @rasa solution is way more elegant than mine!, is there any way to involve @themattharris in this conversation so he can give the final and proper solution?

Thanks!

[2012-10-27 17:50] tommoor commented on #94
We found the same issue last night, around 14hours ago and implemented the same fix as @rasa - this seems to have completely resolved the problem.

[2012-10-27 18:10] themattharris commented on #93
duplicate of #94, we'll track this under that ticket instead.

[2012-10-27 18:10] #93 closed, assigned to themattharris

[2012-10-27 18:11] themattharris commented on #94
hey guys,
looking into this now. as you suggest this looks like a change on Twitter's side that's caused problems.
while i agree your changes fix the immediate issue i'd prefer we know why we have to make that change before doing it.

[2012-10-27 18:29] themattharris commented on #94
implemented the same '0' fix as discussed by you guys above. so v 0.7.1 should fix the issue.
this still makes me uneasy as the issue is evident in curl itself:

[code]

and requires this to fix:

[code]

but i'll close this out from tmhOAuth and instead follow up on https://dev.twitter.com/issues/643
thank everyone

[2012-10-27 18:29] #94 closed, assigned to themattharris

[2012-10-27 19:27] themattharris commented on #90
tmhUtilities uses the formatting of the screen_name as returned in the entities payload of the Twitter API. those entities come from the library twitter-text which extracts them from the original tweet - which means the formatting of the screen_name is based on how it is written in the tweet.

closing this out as this is the correct behavior of the library - namely, echo the information it's been

[2012-10-27 19:27] #90 closed, assigned to themattharris

[2012-10-27 19:28] themattharris commented on #88
hey @hamideyuce, this isn't something tmhOAuth handles or works with. For support with Twitter Cards you should contact the @twitterapi team at dev.twitter.com/discuss.

[2012-10-27 19:28] #88 closed, assigned to themattharris

[2012-10-27 19:35] themattharris commented on #80
thanks - yeah multi-environment support is a good thing. i'll get this in the next release.

[2012-10-27 19:38] themattharris commented on #82
this would be a good suggestion for https://github.com/themattharris/tmhOAuth-examples - if you open a ticket there i'll add an API v1.1 example that does this.

closing this out from this project though as the examples are a different repository.

[2012-10-27 19:39] #82 closed, assigned to themattharris

[2012-10-27 19:41] themattharris commented on #89
@covati's example will do as you want (thanks for sharing).

this would also be a good suggestion for https://github.com/themattharris/tmhOAuth-examples - if you open a ticket there i'll add an example that does this.

closing this out from this project though as the examples are a different repository.

[2012-10-27 19:41] #89 closed, assigned to themattharris

[2012-10-27 19:48] themattharris commented on #83
agreed, as @GhostToast states - your access token and secret reported on dev.twitter.com _may_ not be correct. recreating them using the console should fix this problem for you.

also, double check the consumer_key and secret, user token and secret from the page do match what's in your code. it's really easy to miss a character of the end or the beginning when copying and pasting.

closing this is

[2012-10-27 19:48] #83 closed, assigned to themattharris

[2012-10-27 19:59] themattharris commented on #72
closing this one out as it's been a while without a response. if this is still an issue add a comment and i'll look into it.

[2012-10-27 19:59] #72 closed, assigned to themattharris

[2012-10-27 20:06] themattharris commented on #76
glad you got this fixed up and working.
and thanks to everyone else on this issue that helped along the way!

[2012-10-27 20:06] #76 closed, assigned to themattharris

[2012-10-27 20:09] covati commented on #89
@themattharris I wrote a library that wraps the raw calls within tmhOAuth to make calling twitter a little easier. Would you be interested in pulling that into your repo?

[2012-10-27 20:43] LeagueRivals commented on #82
Thanks Matt, I've opened a ticket on the 'example' section.

[2012-10-28 04:17] trante opened #95 "411 error after some months"
For 2-3 months I use same oauth process.

`$code = $tmhOAuth->request('POST', $tmhOAuth->url('oauth/access_token', ''),
                array( 'oauth_verifier' => $_REQUEST['oauth_verifier']    ));`

although it worked very well for that months, since 30 hours I get status code 411.
I didn't change anything in my codes. What would be the problem. Can you give a tip?

[2012-10-28 04:18] oosswwaalldd commented on #95
Check out the issue #94

[2012-10-28 05:37] themattharris commented on #95
@trante as @oosswwaalldd mentions - this is a duplicate of issue #94 - check that one out and you'll see i released a new version today to handle that problem.

let me know on issue #94 if 0.7.1 doesn't work for you

[2012-10-28 05:37] #95 closed, assigned to themattharris

[2012-10-28 13:41] trante commented on #95
Thank you for quick reply that fixed issue. Sorry for duplicate.

[2012-10-28 23:02] themattharris commented on #86
just getting a chance to look at this. first off, i'm pleased you got your script working.

@stuayre: looking at the example you posted two comments above shows there is a problem with the encoded parameters - but it's unclear why. when URI encoded a £ is %C2%A3 not %A3. are you posting from a text box on a web page? or maybe using a texteditor which changed the character set of the script from UT

[2012-10-28 23:02] #86 closed, assigned to themattharris

[2012-10-28 23:54] themattharris commented on #79
have you tried my example -- https://github.com/themattharris/tmhOAuth-examples/blob/master/oauth_flow.php ?
it does all of the steps needed to get an access token and secret for a user, and then verify the credentials.

let me know if the example works for you.

[2012-10-29 00:00] themattharris commented on #84
the oauth_flow example uses sessions to store the token and secret. if you want to retain them you'll need to add a function which stores (securely) the token and secret in a database of users for your system.

that way, when the session ends, the user token and secret can be read from the database instead of the now empty session.

the other thing is the permanent token and secret are returned by

[2012-10-29 00:00] kemdmq commented on #79
Yeah, it work, I was wrong in my learning, your examples working so good,
sorry for my mistake, thanks for answer me

El oct 28, 2012 7:24 p.m., "Matt Harris" notifications@github.com
escribió:

have you tried my example --
https://github.com/themattharris/tmhOAuth-examples/blob/master/oauth_flow.php?
it does all of the steps needed to get an access token and secret for a
user, and then verify the

[2012-10-29 00:01] themattharris commented on #79
glad you got it working!
i'll go ahead and close this issue out

[2012-10-29 00:01] #79 closed, assigned to themattharris

[2012-10-29 00:10] kemdmq commented on #79
Thanks for supporting

El oct 28, 2012 7:31 p.m., "Matt Harris" notifications@github.com
escribió:

glad you got it working!
i'll go ahead and close this issue out

—
Reply to this email directly or view it on GitHub.

[image]

[2012-10-31 10:13] trante commented on #47
Hello, is there a change about this:
https://github.com/themattharris/tmhOAuth/issues/47#issuecomment-5534380

tmhouath->request has no "return" parameter in phpDoc.
Also in document it is written that function "Make an HTTP request using this library. This method doesn't return anything."
But we can get integer status code with `$code=$tmhOAuth->request(...)`
Which gives warning inside IDE.

All

[2012-10-31 21:48] tanin47 opened #98 "Extra HTTP Headers"
Hi Matt,

I need to add an HTTP header, Accept, to a request. I saw the source code, and it is not supported.

Do you plan to add it? Or would you like me to add it?

[2012-10-31 22:25] themattharris commented on #98
the library supports this, albeit a bit oddly.

[code]

[2012-10-31 22:46] tanin47 commented on #98
Thanks!

[2012-11-01 17:46] rasa commented on #80
That's not true. Windows works just fine with forward slashes.

[2012-11-01 17:50] themattharris commented on #80
maybe, i'll still switch to the internal constant

[2012-11-02 18:10] tanin47 commented on #98
Nice, Matt!

[2012-11-02 18:10] #98 closed, assigned to themattharris

[2012-11-02 20:18] rasa commented on #93
Bug filed here: https://dev.twitter.com/issues/643

[2012-11-05 23:47] oosswwaalldd opened #100 "1.1/statuses/mentions_timeline returning code=200 with empty results"
Hi Matt,

I am experiencing some problems trying to get mentions timeline of an authenticated user using the new 1.1 API 1.1/statuses/mentions_timeline

[code]

I have a validation to merge the response array if the code is 200, but something strange is happening, there is in fact a code 200 (success) but there are empty JSON arrays as result.

I have to run the call several times to get the menti

[2012-11-07 20:00] tianbellmann opened #101 "helpme Retrieving Direct Messages"
I can not read the private messages ..

the souce is...

[code]

$code = $tmhOAuth->request('GET', $tmhOAuth->url('1.1/direct_messages.json'), array(  'count' => 1,  'page' => 1 ) );

echo $code;

I can not get any message

the aplication have permission is activated

Access level    Read, write, and direct messages

[2012-11-07 21:37] vrunoa opened #102 "Tweet with url not working on PHP"
I'm trying to tweet a message with a URL link to my page but I cant make the URL to appear as a link.

Here's the PHP code:

[code]

Am I doing something wrong ? or something is missing ?

[2012-11-07 23:00] vrunoa commented on #102
Sorry to open an issue, I was testing the app locally so I guess twitter couldnt found the url link abd validate. wops! my mistake

[2012-11-07 23:00] #102 closed, assigned to themattharris

[2012-11-22 10:07] thenetimp opened #103 "Reading new filtered stream stops different filtered stream"
I have a project that requires me to filter 3 hashtags in different processes.  When I start my script the first time it runs.  When I start it the 2nd time it stops the first process.  If I start the 3rd it stops the 2nd process.

Why does the streaming of one process affect the streaming of another?

[2012-12-04 00:10] ArnalOMallet opened #104 "CURLOPT error"
Hi.

Ive updated my PHP version to PHP5 but I still have this error:

Warning: curl_setopt_array() [function.curl-setopt-array]: Array keys must be CURLOPT constants or equivalent interger values. in /mnt/159/sdb/e/3/arnaud.mallet50/tweetershell/tmhOAuth.php on line 606

How can I resolved it ?

Thanks for your help

[2012-12-04 01:19] themattharris commented on #104
what version of PHP5 did you install?
also, do you have safe_mode or open_basedir configured?

`<?php php_info(); ?>`

 should be able to tell you the answers to those questions

[2012-12-04 13:05] ArnalOMallet commented on #104
Version : 5.1.3
safe_mode : On
open_basedir : No value

[2012-12-04 18:17] themattharris commented on #104
ok, so safe_mode being on is very likely to be the cause of the issue. i'm referencing the comments here: http://php.net/manual/en/features.safe-mode.functions.php -- and many other sources --  which say `curl_setopt(CURLOPT_FOLLOWLOCATION ...` cannot be used in safe_mode.

from http://php.net/manual/en/features.safe-mode.php safe_mode is deprecated in PHP 5.3.0 and removed in PHP 5.4.0 -- so i'm

[2012-12-04 19:47] ArnalOMallet commented on #104
I cant modify PHP options with my FTP host. Is it possible to overide safe_mode option using htaccess file for example?

[2012-12-06 20:56] spuckylucky commented on #55
Hi, first of all thanks for the library and the example code wich is very handy. Everything works fine and it updates status smoothly, unless the status contains certains characters. The thing goes far beyond my understanding and i'd really appreciate any suggestion.
The characters are è and é and the error message is "could not authenticate with oauth" but sometimes is "invalid unicode character"

[2012-12-07 21:11] oosswwaalldd commented on #55
Hi!, I am having the same problem, the issue occurs when I get direct messages and then trying to post them, when there is a special character like described above, Twitter returns a 403 error, wrong credentials, but that does not happen.

Thanks a lot for taking the time to debug this.

[2012-12-08 00:53] spuckylucky commented on #55
I feel so stupid but the problem was that the message has to be utf8 encoded, 'status' => utf8_encode($your_tweet). I hope this will solve your problem too.

[2012-12-09 22:50] LeagueRivals opened #105 "Expectation Failed Issue 417"
Hi Matt,

My code was working fine before (posting images) however it suddenly doesn't? I've not updated the php code for several months now? I've got the following 417 error on the page. Any help would be appreciated.

Expectation Failed

The expectation given in the Expect request-header field could not be met by this server.

The client sent

[code]

but we only allow the 100-continue expectati

[2012-12-10 14:44] hiteule opened #106 "GetAccessToken don't work with Google OAuth1 API (the token is double encoded)"
Hi,

The getAccessToken don't work with the google oauth1 api.
The api return this error :
signature_invalid base_string:POST&https%3A%2F%2Fwww.google.com%2Faccounts%2FOAuthGetAccessToken&oauth_consumer_key%3D42424242.apps.googleusercontent.com%26oauth_nonce%3Daf0b971774829b8530ab20c5b21b3f97%26oauth_signature_method%3DHMAC-SHA1%26oauth_timestamp%3D1355148916%26oauth_token%3D4%252FKO4KYSdwSWvHOywP

[2012-12-10 22:13] LeagueRivals commented on #105
Sorted the Issue 417 problem above with the following code on line 651 of the tmhOAuth file (I don't know if it's in the correct place?):

curl_setopt($c, CURLOPT_HTTPHEADER, array('Expect:'));

However I now have the following error showing up:

{"request":"\/1\/statuses\/update_with_media.json","error":"Could not authenticate you."}

I've looked back through the older issues with no luck. Any id

[2012-12-11 21:06] schip1978 opened #107 "How to start userstream from browser?"
Hi there,

I understand the stream is a long lasting php-reqeust. Now for my application I want to use the userstream to store tweets in a database.

The stream should be started via a function call. (I'm developing a Joomla component), however, it doesnot seem to work.

How do "start" the userstream script from a function, e.g. without cli ?

thnx for your support,
Paul

[2012-12-11 21:41] LeagueRivals commented on #105
Problem solved. I added $this->headers['Expect'] = ''; to line 357 in tmhoauth.php and it worked.

[2012-12-11 21:41] #105 closed, assigned to themattharris

[2012-12-15 18:09] formariz commented on #76
Guys, the exemple don't work for me.
Please, help me.

My code PHP

[code]

And response

[code]

Any idea?

[2012-12-15 21:16] formariz opened #108 "update_with_media don't work"
Guys, the exemple don't work for me.
Please, help me.

My code PHP

[code]

And response

[code]

Any idea?

[2012-12-16 17:03] tharrosinfo commented on #76
Is your $image the name of the image file or the binary data of the file? Because it needs to be the binary data, see above:

$filename = "recept001.jpg";
$handle = fopen($filename, "rb");
$image = fread($handle, filesize($filename));
fclose($handle);

[2012-12-17 11:42] formariz commented on #76
i change my code:

[code]

Response:

[code]

[2012-12-21 22:04] trante commented on #47
My IDE says that both of these two methods are defined as "returns void" inside PHPdoc. But when I use them I get $code as output. So my IDE gives warning. Everytime I download a newer tmhoauth version, I add `@return int` to the top of each function.
`public function request($method, $url, $params=array(), $useauth=true, $multipart=false, $headers=array())
private function curlit()`

[2013-01-02 01:17] maximal commented on #104
Unfortunately no. Or fortunately :-)

[2013-01-09 12:28] sourabhmkhrj46 commented on #105
Hello,

I was facing the same issue.
Then i looked into the Solved Issues section in GitHub and found your post.
My issue is solved.
Thanks you saved me a lot of time.

Sincerely,
Sourav Mukherjee

[2013-01-24 16:14] samhenry commented on #108
I just figured out how to get this working for one of my own scripts. I'm using the latest version of tmhOauth at the time of this post. Here's the gist of what I did:

[code]

The most important part for me was using a "full path" to the image. tmhOauth uses CURLOPT_POSTFIELDS to post this and the PHP docs on setting cURL options mentions using full paths. See http://docs.php.net/function.curl-se

[2013-01-24 18:00] wiresfj commented on #108
Yep that worked for me.... happy days. Thank you for sharing the info.

[2013-02-09 19:41] oosswwaalldd opened #109 "Getting followers/ids from users with more than 75000 followers rate limit problem"
Hi Matt,

the problem with the new API v1.1 I found with my app is that everyday I need to check the list of followers (all the followers) of my authenticated users in my app, with the new version of the API, because of the 15 API calls per 15 minutes window limit, my script will only grabs 75000 followers for that user (15 times the max amount of ids per cursor [5000]), so the question is,

how c

[2013-02-13 20:44] fnhipster commented on #76
@formariz try disabling SSL_VERIFYPEER

[code]

[2013-02-19 00:18] themattharris commented on #47
thanks. the PHPDoc got left behind when extra features were added. fixing that up now

[2013-02-19 00:36] #80 closed, assigned to themattharris

[2013-02-19 00:45] themattharris commented on #47
fixed in 0.7.3 and shipped

[2013-02-19 00:45] #47 closed, assigned to themattharris

[2013-02-19 00:47] themattharris commented on #74
did you make any progress in the forums with this issue?

[2013-02-19 00:48] themattharris commented on #84
closing this one out as it's been a while without any follow up questions

[2013-02-19 00:48] #84 closed, assigned to themattharris

[2013-02-19 00:51] themattharris commented on #100
this sounds more like an issue with the Twitter API not returning data rather than the lib.
the library makes the request to the API and decodes the JSON response. it also doesn't attempt to filter the data returned by the API - so if the responses is an empty array, that's what the twitter api returned.

if you want to check the exact response from twitter you can inspect `$tmhOAuth->response['ra

[2013-02-19 00:51] #100 closed, assigned to themattharris

[2013-02-19 00:54] themattharris commented on #101
what response code do you get back from the Twitter API when requesting this URL? if you can share the contents of `$tmhOAuth->response['raw']` here it will aid with debugging what's happening. (if the direct message content is returned and visible, don't include it in the paste).

[2013-02-19 00:56] themattharris commented on #103
i'm assuming you are using the same credentials when connecting to the Streaming API. Twitter only allows one connection to the Streaming API for each account (ref: https://dev.twitter.com/docs/streaming-apis/streams/public#Connections)

[2013-02-19 00:56] #103 closed, assigned to themattharris

[2013-02-19 00:58] themattharris commented on #104
this is an issue with the configuration of the server you are using. while it's possible to remove the CURLOPT_FOLLOWLOCATION setting it isn't something i'm comfortable doing to the main library.

if you wish to comment out that line to see if things work please go ahead, but know that redirects won't be followed by the library anymore.

[2013-02-19 00:58] #104 closed, assigned to themattharris

[2013-02-19 02:40] themattharris commented on #106
Section 3.4.1.3.2 of the OAuth 1.0a specification (http://tools.ietf.org/html/rfc5849#section-3.4.1.3.2) states that the values should be encoded and then concatenated to form the base string.

also, looking at googles GData documentation shows the same %252F component in the oauth_token (ref: https://developers.google.com/gdata/articles/oauth#Signing)

can you share the exact error Google respond

[2013-02-19 02:46] themattharris commented on #107
the library doesn't really care about how it's invoked, but, as streaming connections are long running, you don't want to lock up your web serving threads with an open connection to the Twitter streaming API.

there are a number of ways you could do this but you should probably detach the joomla action component from the process of starting the streaming connection.

put another way, the code that

[2013-02-19 02:50] themattharris commented on #108
hey guys, you should be hitting `$tmhOAuth->url('1.1/statuses/update_with_media');` with `$tmhOAuth->config['host'] = 'api.twitter.com'` (the default). in API v1.1. twitter moved to hosting all URLs on api.twitter.com - so the host name of `upload.twitter.com` is no longer recommended.

@formariz your original issue was erroring because you didn't provide the full path to the image file. what you

[2013-02-19 02:53] themattharris commented on #109
tmhOAuth can only do what the Twitter API offers and allows. for enumerating the 75000 followers an account has it would be better to gather all the followers at the pace the rate limit allows, and then stay current with the follower/following list using something like userstreams or site streams (assuming the user has granted you permission to operate on their behalf).

[2013-02-19 02:56] themattharris commented on #105
wanted to follow up on this to say that the Twitter API looks to have fixed the issue that required the `$this->headers['Expect'] = '';` hack to be set. if you have this in your scripts, or modified tmhOAuth to set it, please remove it. it's invalid to have an empty expects header in a request.

[2013-02-19 03:06] themattharris commented on #76
@formariz you should be setting `$image` to the path to the file you wish to send as the photo - not the binary data contained within the file. here's an example:

let's say your file `sol.jpg` is in the same folder as your PHP code. in this example do this:

[code]

@carlosacabrera please don't change `curl_ssl_verifypeer` - for your peace of mind and that of your users it's very important the va

[2013-02-19 10:37] hiteule commented on #106
Hi,

The exact error of Google Api when I make the GetAccessToken request is :

And the token I use to make this request is :

Here you can find a sample code to reproduce this issue :

[code]

When I patch the tmhOAuth lib to encode the token one time, the api work perfectly.
This is my quick evil patch :

[code]

[2013-02-19 23:39] philsturgeon opened #110 "Composer is badly supported"
Currently you have not set up the post-hook to notify packagist about your tags, which means that packagist only recognizes "dev-master". If you could push a 1.0 tomorrow it would breaks my live website, and at the moment I'm having to reference a specific commit instead.

Can you tag your versions ASAP please?

[2013-02-19 23:47] philsturgeon commented on #110
Weird, in the installed copy of this lib I'm seeing a src folder, but in the master here it's missing the src folder.

http://d.pr/i/hrZW

[2013-02-20 00:56] themattharris commented on #110
the version on packagist was created by a fork of this code. i'm working with kud (the creator of that fork) to fix the packagist version

[2013-02-20 00:58] themattharris commented on #110
also, for info, all versions of tmhOAuth are tagged. e.g. https://github.com/themattharris/tmhOAuth/tree/0.7.3.

i'm happy to correct any issues or add things to composer to fix this

[2013-02-20 01:05] philsturgeon commented on #110
I spotted the tags afterwards and sneakily updated my messages so only you would know that I originally complained a bit harder than it looks right now.

Sorry!

To get packagist up to date make sure you click Force Update, it'll run off and grab information on all the tags in the repo. Then try and follow the guide to get tags automatically hooked up.

http://d.pr/i/KHkk

If there are two repos,

[2013-02-20 01:33] themattharris commented on #110
np, yeah it'll get centralised on my copy of the repo - as i'm the one who develops and maintains it.
i became aware of this by another thread too - so this is all reactive.

i'm also aware composer has a broken psr-0 entry. as i've been through this with a number of different suggested forks i want to confirm my thinking is correct. so, the plan is to set autoload to this:

[code]

[2013-02-20 04:09] bufferDBMS opened #111 "Is there a way to get a sample of tweets ?"
I was wondering if I could execute the sample query (https://stream.twitter.com/1.1/statuses/sample.json) using your library ....I essentially want to pull a random set of tweets, which I currently can't because of the "Expect at least one parameter: follow track locations".

The link to the twitter API I'm talking about is https://dev.twitter.com/docs/api/1.1/get/statuses/sample.

Thanks.

[2013-02-20 04:15] #111 closed, assigned to nobody

[2013-02-20 04:16] bufferDBMS commented on #111
Sorry, didn't read the examples through.

[2013-02-20 04:50] #110 closed, assigned to themattharris

[2013-02-20 05:08] themattharris commented on #110
fixed composer, updated https://packagist.org/packages/themattharris/tmhoauth and confirmed everything is working with a fresh project.

[2013-02-20 09:08] gerkirill opened #113 "can not update via composer"
I have problem updating your library over composer. composer.phar update asks me for auth. credentials for github, which is strange, as it's a public repository. I guess the problem is you have "name": "themattharris/tmhoauth" in your composer.json, while the package is actually themattharris/tmhOAuth (letter case is the difference).
Try to do the following and you'll see what I mean:
git clone ht

[2013-02-20 14:03] AlexisSerneels commented on #113
Same bug here.

[2013-02-20 15:48] themattharris commented on #113
thanks i'm looking into this.

[2013-02-20 16:05] themattharris commented on #113
i've made some changes to the packagist meta information. please let me know if it works for you now.

[2013-02-20 16:47] themattharris commented on #113
getting reports this is now fixed so i'm going to close this out. reopen if you are still having problems.

[2013-02-20 16:47] #113 closed, assigned to themattharris

[2013-02-20 20:41] formariz commented on #108
@themattharris  Thanks for reply.
My file is in the same directory as the script.
I need to change this call?

[2013-02-20 20:48] formariz commented on #76
Thank you @themattharris ... Worked perfectly for me.

[2013-02-20 22:48] themattharris commented on #108
@formariz i see you got my other comment in Issue #76. i'll close this ticket out as it sounds like you've got things working from the advice in that issue.

[2013-02-20 22:48] #108 closed, assigned to themattharris

[2013-02-27 07:41] crackers8199 opened #114 "tmhoauth worked fine with file based sessions, trying to change to database does not work"
i'm stumped.  i've been using the library for around 6 months now with file based php sessions...we're looking to start scaling up now so we want to switch to database sessions, and as soon as i set the database to be the session handler i get 401 unauthorized every time.  the second i change it back to using files, it works fine.

what am i doing wrong?

[2013-03-02 00:51] peadig opened #115 "Issue with WordPress"
I seem to have a Fatal error: Cannot redeclare class tmhOAuth in /path/to/tmhOAuth.php on line 14 when using the following code inside a function within functions.php of my WordPress theme. Here's the code so far:

---

<code>
function wptf_proshortcode($wptf_proatts) {
    if (!empty($wptf_proatts)) {
        foreach ($wptf_proatts as $key => $option)
            $wptf_pro[$key] = $option;
    }

[2013-03-02 01:37] #115 closed, assigned to nobody

[2013-03-02 01:38] peadig commented on #115
instead of require, require_once was needed

[2013-03-02 23:06] stuarthannig commented on #114
I've never used database sessions before, so sorry I can't help with that.

But I am definitely finding it harder to work with this code outside of sessions, as the functions aren't constructed to return values and are writing to the screen. (NOTE: I am using the example code as my base, because of the lack of documentation apart from the examples.)

It seems like sessions were used as a way to ma

[2013-03-03 19:36] trante opened #116 "Authenticate redirects to authorize"
I use version 0.7.2 and I didn't tested this in 0.7.5.
When I make
`$code = $tmhOAuth->request('POST', $tmhOAuth->url('oauth/request_token', ''), $params);
             if ($code == 200) {
                   $_SESSION['oauth'] = $tmhOAuth->extract_params($tmhOAuth->response['response']);
                    $method = 'authenticate';
                    $force  = isset($_REQUEST['force']) ? '&force

[2013-03-03 19:57] #116 closed, assigned to nobody

[2013-03-03 19:58] trante commented on #116
I noted that this setting is added to https://dev.twitter.com/apps/myappNo/settings
"Allow this application to be used to Sign in with Twitter"

[2013-03-03 23:34] oosswwaalldd opened #117 "Sign In With Twitter Setting in my app settings page"
Hi guys,

In my app settings page there is a new thing "Sign in with Twitter" and is set to "No", my app is working well right now, I am using authorize link in the code, my question is:

What is does "Sign in with Twitter" setting do? should I set it to "Yes"?

I will appreciate your help in this mattter

[2013-03-20 05:05] follow-at-cybers opened #119 "request example following script"
hi mate
would you help me how to following user using tmhOauth lib?
i just explore and find example of unfollow now i need to know how to follow twitter account using tmhOauth.
thanks in advance :)

[2013-03-20 10:38] ghost opened #120 "Why am I getting this result everytime after several hours of Streaming"
Hi,

I always see this results after 12 or more hours of running Streaming.php. Everything is working very well and you can see that I could capture around 500K while I was running the script in Amazon EC2 and storing it into MongoDB. I couldn't figure it out what happens every time that it shows me this and stops streaming: (I removed keys information)

tmhOAuth Object
(
    [response] => Array

[2013-03-21 17:37] SteveEdson opened #121 "Class 'tmhUtilities' not found (with Composer)"
We're using tmhOAuth with composer, when trying to execute the line

[code]

We get the error `PHP Fatal error:  Class 'tmhUtilities' not found`. Should this be autoloaded? How can we initialise the class? The examples are 7 months old and do not provide any examples of use with composer.

Thanks.

[2013-03-21 17:53] oosswwaalldd commented on #121
Are you sure you did include the php lib file at the top of your script?

[2013-03-21 17:58] SteveEdson commented on #121
Included the `vendor/autoload.php` file yeah. The tmhoauth class works OK, its just the utilities. The tmhoauth autoload is defined in the `composer.json`, but the utilities class isn't. Think that might be the issue?

[2013-03-23 13:00] ghost commented on #120
OK more follow on this issue (which I think it is better on the example side since i used example but i thought maybe it is related to the config not the code itself. I don't know your choice).

I wrote a script that check whether the code is running as a process or not. if it's not it runs it. (I check every minute by cron job). So far I have seen anything on my log file and also it's been runnin

[2013-03-25 14:31] trante opened #122 "URL of the request"
I need support for some issue. I have such request and I need to get URL of this request. How can I get URL?
Thank you.

[code]

[2013-03-31 13:09] feridmovsumov opened #123 "error setting certificate verify locations"
I have updated cacert.pem but it doesn't help. What is the problem?

[2013-04-10 23:34] LeagueRivals opened #126 "$_SESSION Not working with POST statuses/update_with_media"
Hi Matt, I've been using Oauth_Flow to gain access to user_token and user_secret on my site so visitors can then POST statuses/update_with_media. It was working fine yesterday however it's stopped today. I updated your code for posting statuses/update_with_media below but all I get is {"errors":[{"message":"Bad Authentication data","code":215}]}

<code>
<?
session_start();
require '.../tmhOAuth.ph

[2013-04-12 06:14] darkwish121 opened #127 "Add multiple locations to filter tweets"
Here is my code it works with single location but when I add multiple locations it doesn't work for me. When I pass array it give me error

Notice: Array to string conversion in D:\wamp\www\twitter\tmh\tmhOAuth.php on line 629

"Location track items must be given as pairs of comma separated lat/longs"

Question 1: How can I get tweets from multiple locations?
Question 2: what return callback funct

[2013-04-17 17:24] curt2008 commented on #122
The URL you're attempting to get would be

http://search.twitter.com/search.json?q=keyword&rpp=1000&page=1

Just remember for the "q" variable it must be URL encoded

[2013-04-19 07:48] jamesinealing opened #128 "Guidance for storing credentials in a database"
Hi, I am new to tmhOAuth but have just successfully installed and configured it and am starting to have a play around. I am also using the 140dev framework.

I've seen lots of mentions of permanently storing credentials in a secure database but wondered if anyone had any guidance and/or code snippets that outline the best way to accomplish this? Thanks

[2013-04-30 18:21] destronije commented on #120
Hi, i am facing the exact same issue with streaming api, did u make any progress on this issue?

Thanks in advance. :)

[2013-05-01 04:40] themattharris commented on #120
by design Twitter's streaming API can roll their servers or occasionally disconnect you - so it's important your process that's running this code is written to reconnect on disconnect -- but also to back off on error (just in case).

also, if you are running this in a production style environment (rather than development) i recommend you have it started by a background crontab or similar. that way

[2013-05-01 04:45] ghost commented on #120
Yes that's what I thought so I run it in the background and check the process every minute to see whether it's working or not to run it again. So in the worse case scenario I will lost a minute data.
Thank you very much, the reason I asked was to see that if the problem is from my configurations and clearly it's something from Twitter.
I managed to collect 52million tweets in three weeks for testi

[2013-05-03 19:54] nadiamoe opened #130 "Bad Authentication data, code 215"
Hi there!
I'm currently having some issues, I don't really know if its twitter or tmhoauth's fault, but I hope you could at least give me a hint, because I have no idea of whats happening.
I have a php code that receives an oauth_verifier as parameter, then it performs a request to oauth/access_token, and validates it.
Then, it updates the `$tmhoauth->config`, and performs another request to `1.1/

[2013-05-04 06:01] innova commented on #49
Hi  mogita
No need to download image from s3 bucket to your server. Following code works fine for me. I just create stream from amazon s3 image url then set it as post field.

[code]

Thanks

[2013-05-13 21:18] #130 closed, assigned to nobody

[2013-05-13 21:26] nadiamoe opened #131 "extract_params() behaving randomly"
Hi! I just noticed that the extract_params() method behaves unpredictabily in some cases. Example:

[code]

Outputs:

[code]

But, this one:

[code]

Outputs:

[code]

It seems that with some requests, it doesn't parse json properly.
Any idea about why?

PD: As a hint: Sometimes, it also complains about an indefined index '1' @ line 218:
`$kv[1] = $this->safe_decode($kv[1]);`
which belong to the e

[2013-05-20 16:31] wiresfj opened #132 "Twitter API V1 Retirement"
Hi,

been using the tmhOAuth twitter interface and its great (Thank you)

I've had a look and I can't see any postings about the fact Twitter are changing the API and V1 will stop working in June 2013.

I might being stupid or missing something but will Matts great code work with the new V1.1 twitter API?

Sorry if I'm being stupid.

Many thanks,
Patrick

[2013-05-29 13:44] adamcbrewer commented on #132
I've been using v1.1 with no issues so far. I've only used the `request` method though, no streaming.

[2013-06-02 21:09] gswalden opened #133 "Library stopped working May 30?"
On May 30th, my website utilizing this library became unable to communicate with the Twitter API. I have checked on both my live and dev servers, with the same results. I have since set-up a completely separate environment, and pulled the latest versions of cacert.pem, composer.json, tmhOAuth.php, & tmhUtilities.php from the main TMHOAuth repo, and friends.php from the Examples repo. I updated fri

[2013-06-02 23:52] themattharris commented on #133
what is the output of the script. the $tmhOAuth->response['error'] should contain a string of some kind explaining why a connection could not be established.

[2013-06-03 14:57] gswalden commented on #133
It reads (from my live site): Failed to connect to 199.59.149.232: Network is unreachable
During my lunch break I'll try from my local dev server.

[2013-06-03 16:04] themattharris commented on #133
from the live server can you ping api.twitter.com? what about traceroute? if those dont succeed you most likely have a network or routing issue. to fix that you'll need to talk to your hosting provider/network engineering team

[2013-06-03 17:57] gswalden commented on #133
You're correct, my dev server in Cleveland is having no problems while the live server in NC is. Thanks for you help Matt!

[2013-06-03 17:57] #133 closed, assigned to nobody

[2013-06-06 20:40] purplelounge opened #136 "Class error when attempting to send tweet."
I have followed a blog post guide which advises using your package to send tweets via my script. When running the script it has a series of echo commands for debugging but they no longer show. Instead it loads up your github page displaying the contents of tmhOAuth.php and tmhUtilities.php with the error

Fatal error: Class 'tmhOAuth' not found in /home/cliftont/public_html/discount.php on line 6

[2013-06-06 20:46] willpower232 commented on #136
You did download a copy of the classes and include() or require() 'ed them in your file?

[2013-06-06 20:51] willpower232 commented on #132
I believe this is just an OAuth class so should work with any version of the twitter API.

[2013-06-06 20:52] purplelounge commented on #136
On 06/06/13 21:46, Will Power wrote:

[2013-06-06 20:57] willpower232 commented on #136
Okay try using the require function so that it throws an error if it cannot find the file. Presuming those two files are located outside your public_html directory, have you made sure the permissions on those files are correct?

[2013-06-06 21:00] purplelounge commented on #136
On 06/06/13 21:58, Will Power wrote:

[2013-06-06 21:18] willpower232 commented on #136
Ah yes, my bad. Are you sure the files you have contain only php and nothing else?

[2013-06-06 21:19] purplelounge commented on #136
On 06/06/13 22:18, Will Power wrote:

[2013-06-06 21:21] willpower232 commented on #136
Not my repository, just offering an attempt at a helping hand :-P can never be sure from here of what you have

[2013-06-06 21:24] purplelounge commented on #136
On 06/06/13 22:21, Will Power wrote:

[2013-06-06 21:33] willpower232 commented on #136
The files you have on your server/computer, if you open them, do they start with <?php ?

[2013-06-06 21:35] purplelounge commented on #136
On 06/06/13 22:34, Will Power wrote:

Your name is familiar by the way, are you in the South East UK by any
chance?

[2013-06-06 21:43] sabl0r commented on #136
Did you download the files in raw format?
Example: https://raw.github.com/themattharris/tmhOAuth/master/tmhOAuth.php

[2013-06-06 21:44] willpower232 commented on #136
Formerly, although the midlands is now my home. Curious indeed. The raw output was going to be my next guess...

[2013-06-06 21:45] purplelounge commented on #136
On 06/06/13 22:44, Will Power wrote:

[2013-06-06 21:47] willpower232 commented on #136
Alas I cannot say I had such an extravagant birthday :-P

[2013-06-06 21:48] purplelounge commented on #136
On 06/06/13 22:47, Will Power wrote:

[2013-06-06 21:50] willpower232 commented on #136
Ah...I mean that I did not have a DJ at my 18th birthday or any birthday for that matter...

[2013-06-06 21:51] purplelounge commented on #136
On 06/06/13 22:50, Will Power wrote:

[2013-06-06 21:52] purplelounge commented on #136
On 06/06/13 22:50, Will Power wrote:

[2013-06-06 22:05] sabl0r commented on #136
Please close the issue if it's working for you now.

[2013-06-06 22:06] #136 closed, assigned to nobody

[2013-06-12 07:28] wiresfj commented on #132
Hi guys,

well as I expected my website has stopped working now. The twitter routines which all used V1.0 have given up.

Its probably really easy, but how do I make them work with V1.1?

It took me long enough to get them working the way I wanted as it is, So I don't really want to start hacking around Matts fine code and really messing things up.

Any help would be great because as it is right n

[2013-06-12 07:38] adamcbrewer commented on #132
@wiresfj are you talking specifically about the Twitter v1.0 API? It seems like they [announced its retirement yesterday](https://dev.twitter.com/blog/api-v1-is-retired).

Switching to v1.1 it's that much different, but if you wanted something to test/work with quickly then you're welcome to [use a class I wrote based on the v1.1 API](https://github.com/adamcbrewer/tmhOAuth/blob/master/twitterApi.

[2013-06-12 07:59] wiresfj commented on #132
Hi Adam,

yes I've been using the Twitter v1.0 API.

I knew it was being retired yesterday, so had been looking around for a solution.

I'm not sure how to switch to V1.1
I've had a look at your code and from what I can see its the URL thats changed.
i.e. url('1.1/statuses/update')

I'm using Twitter pic, updating status and direct messages.

Thank you for sharing your nice work but it doesn't cov

[2013-06-12 08:03] adamcbrewer commented on #132
@wiresfj I can't say it's as easy as swapping out the URL (v1.1 as apposed to v1.0), but you'd be better off [checking the documentation](https://dev.twitter.com/docs/api/1.1) to cater for anything specific.

[2013-06-12 08:21] wiresfj commented on #132
Cheers Adam,

I was hoping it was going to be a simple job.

I've had a look at all your suggestions and at the moment its beyond my programming ability (I'm more an embedded software engineer).

Not sure what to do really, I can't be the only person who is using Matts code to post tweats and direct messages.

I don't know if I'm missing something and Matts code works fine with API V1.1 and its my

[2013-06-12 08:24] adamcbrewer commented on #132
Sorry I can't be of more help, but it really depends what your code looks like and how you're trying to implement it as to what you need to change.

[2013-06-12 10:34] wiresfj commented on #132
Hi Adam / everyone.

OK I've solved the problem. It was very easy in the end.

To help anyone else having the same issue, here is what I did.

I am using Matts latest files. I've not changed anything.

I've created these two PHP functions below.

One post a status tweet and the other does a direct message.

They are both working with the new Twitter api 1.1 requirements.

All I had to do in the en

[2013-06-12 21:00] hashtagsports opened #137 "twitter 1.0 is gone, all code is broken"
anyone have any ideas on how to get my apps back up and running for twitter 1.1, i'm using search

[2013-06-13 07:37] kroguz commented on #137
same here

[2013-06-13 07:43] wiresfj commented on #137
Hi I was having the same problem yesterday, all my code went down.

In the end it was very simple to fix. All I had to do was change the URL.

Here is a copy of the post I did explaining what I did.

It might help if you post a snippet of your code on here that's not working.

I've not used the search, but I suspect the change will be very similar.

Anyway here is my post from yesterday, hope it h

[2013-06-13 07:45] wiresfj commented on #137
PS This helped me a lot. (Thanks to Adam)

https://dev.twitter.com/docs/api/1.1

[2013-06-13 07:58] pvledoux commented on #132
@wiresfj Thanks for your indication, I could repair our applications by just replace $tmhOAuth->url('1/statuses/update') by $tmhOAuth->url('1.1/statuses/update')

[2013-06-13 23:30] uavster commented on #137
Thank you, wiresfj. It really helped me fix the problem. My request url was "1/statuses/user_timeline" and I changed it for "1.1/statuses/user_timeline". Everything works like a charm now.

[2013-06-14 05:21] themattharris commented on #137
thanks to everyone who commented. as a few have mentioned Twitter turned off their v1 API the other day. this change doesn't affect tmhOAuth directly, but it will mean any scripts you have need to be updated to use URLs under /1.1/ instead of /1/. you can find more information about the new API at https://dev.twitter.com/docs/api/1.1

i'm also push up a new repository at https://github.com/thematt

[2013-06-14 05:21] #137 closed, assigned to themattharris

[2013-06-14 05:23] themattharris commented on #132
thanks to everyone who commented and helped out here.

as i just commented in issue #137, and as a few have mentioned here -- Twitter turned off their v1 API the other day. this change doesn't affect tmhOAuth directly, but it will mean any scripts you have need to be updated to use URLs under /1.1/ instead of /1/. you can find more information about the new API at https://dev.twitter.com/docs/api/

[2013-06-14 05:23] #132 closed, assigned to themattharris

[2013-06-14 05:25] themattharris commented on #131
extract_params is designed to process the plain text responses from the OAuth replies of the Twitter API. it hasn't been written to extract anything from the properly json encoded responses the API methods return. for those you want to use json_decode.

i'm also pushing up a new repository of examples at https://github.com/themattharris/tmhOAuthExamples for version 0.8 of tmhOAuth (being pushed in

[2013-06-14 05:25] #131 closed, assigned to themattharris

[2013-06-14 05:29] themattharris commented on #123
the contents of `$tmhOAuth->response['error']` should contain more information about the error affecting the you.

[2013-06-14 16:25] themattharris commented on #121
this file was removed on 0.8.0 as it isn't part of the core lib. if you found it useful please open a new issue to put tmhUtilities into it's own project.

[2013-06-14 16:25] #121 closed, assigned to themattharris

[2013-06-15 05:58] ErikSMA opened #138 "Still can't use 1.1 twitter API"
Hello,

I followed on other topics about how to make my code work again after depreciation of the old Twitter API.

Unfortunately it still doesn't work for me... I replaced the tmhOAuth.php file I had (a really old 2010 one) by the brand new one uploaded yesterday and as other users mentioned, added "/1.1/statuses/update" where needed.

The only strange thing is that I didn't have " /1/statuses/up

[2013-06-15 10:31] iabhinavgupta commented on #138
Hi ErikSMA,

Try to change value of oauth_version to "1.1" in tmhOAuth.php..Hope it will works then.

[2013-06-15 13:56] Wraithers commented on #138
Hi ErikSMA,

Two things:

1) Change <i>'user_token'</i> to <i>'token'</i>
Change <i>'user_secret'</i> to <i>'secret'</i>

2) Make sure your <i>entire</i> Twitter application has an Access Level of 'Read and Write'
Check your apps' Details page. If you change your Access Level, then be sure to recreate your Access Token and refresh until it the Access Level is 'Read and Write' for that too

I've at

[2013-06-15 20:08] ErikSMA commented on #138
Hello !

Thanks for your help. I followed your advices but unfortunately it doesn't work yet.

I changed the value of "oauth version" in tmhOAuth.php :

// oauth signing variables that are not dynamic
        'oauth_version'              => '1.1',
        'oauth_signature_method'     => 'HMAC-SHA1',

![image](https://f.cloud.github.com/assets/4703199/658601/cf382cc0-d5f6-11e2-817b-5edf221b6756.png

[2013-06-15 21:00] oosswwaalldd commented on #138
Hi, did you do all the procedure with the file cacert.pem explained in the Get Started section? I think that would help you

[2013-06-16 05:39] ErikSMA commented on #138
Hi oosswwaalldd,

Yes I just did. Your idea was good, as I had this error message :

error code : error setting certificate verify locations: CAfile: E:\wamp\www\shootmeagain\cacert.pem CApath: E:\wamp\www\shootmeagain 0

But even after placing cacert.pem it doesn't tweet. I know get the error 400. Where can I find what is this error 400 ?

Just to be sure, I even copied the exact calling function

[2013-06-17 05:51] jdj1229 opened #139 "Getting Error Bad Authentication data code 215"
Hi, trying to use new tmhOAuth and replaced my old one then set version to 1.1.

After that i edited code in my php and changed user_token to token and user_secret to secret.

Page goes to twitter login then after redirecting to website then user this code
$code = $tmhOAuth->user_request(array('url' => $tmhOAuth->url('1.1/account/verify_credentials')));

It gets error getting error bad authenticat

[2013-06-17 06:30] willpower232 commented on #139
Can you show us your source code? Need to know exactly what you are doing :-P

[2013-06-17 09:25] willpower232 commented on #139
Seems to be okay although you could use more of the `else { outputError() }` parts on the end of `if ($code == 200)` to help you highlight the errors?

[2013-06-17 09:37] jdj1229 commented on #139
k thanks for checking the code will try using old code and just changing the calls to 1.1, well the posting seems to work will just check the code for with picture

[2013-06-17 09:37] #139 closed, assigned to themattharris

[2013-06-17 10:57] andyface opened #140 "tmhUtilities as it's own project"
Hi,

Wondering if you'll be up for making tmhUtilities into it's own project. I've checked around and no one seems to have requested this directly, though maybe I'm not looking hard enough.

I've found the utilities helpful, especially the entify method, as this saves me having to handle formatting these myself when outputting tweets.

Hope you can make this into it's own project and happy to help

[2013-06-17 13:06] alexander-irbis commented on #138
ErikSMA, just append ".json" to the url:

$code = $api->request('POST', $api->url('1.1/statuses/update.json'), ['status' => $status]);

At least this code works fine for me

[2013-06-17 15:48] lbriceno92 commented on #138
doesnt the method url(' ')  return the actual url with the .json appended?

[2013-06-18 07:40] ErikSMA commented on #138
Yeah, I tried but it didn't change anything to my issue...

The error 400 just seems to be a "Bad request" error... but how can I debug it ? I mean, how can I get a more detailed overview on the error than just this error 400 thing ? It could be anything...

[2013-06-18 18:45] sothychan commented on #138
ErikSMA, worth a shot, you need to change oauth_version back to 1.0.  The Twitter API changed from 1.0 to 1.1, not oauth.  Once you change that back to 1.0, assuming you did everything else correct like putting cacert.pem in the same directory, it should work if you use 1.1/statuses/update.json as the URL.  At least it worked for me.  tmhOAuth worked right out of the box and no modifications were

[2013-06-19 05:12] ErikSMA commented on #138
Yeah, it finally works ! THanks a lot for your help everyone, especially sothychan who gave the final push. I'm really happy that it works again.

Have a nice day everyone !

[2013-06-19 08:08] sothychan commented on #138
ErikSMA,

Glad to hear it's working now!

Cheers,
Sothy

On 6/18/13 10:12 PM, ErikSMA wrote:

##

Sothy Chan
Web Developer
www.crowdstir.com
Mobile: 805.350.8720

[2013-06-19 15:53] meandhim-josh opened #141 "Expressing "text","id" etc from Response"
Hello Matt,

I have just tried to implement your new verion of the OAuth for twitter 1.1 API, I have think I have got most of the way there. Dumping $tmhOAuth->response give me an array "Raw" with everything in there. My issue is trying to get specific parts of the key. For example get the text and id for that post. Do I need to pass into a for each?

Thank you

Josh

[2013-06-19 19:35] vikinggoat opened #142 "Script broken since transition to Twitter v1.1"
Script that was working before since the v1.1 transition isn't working anymore, I've made the 1 to 1.1 alteration, downloaded the latest tmhOauth release, changed any references of user_token and user_secret to token and secret, even made an alteration to tmhOauth.php (changed **_DIR**_ to dirname(**FILE**) on lines 67 and 68); but I'm still getting
Error: {"errors":[{"message":"Bad Authentication

[2013-06-20 09:19] meandhim-josh commented on #141
Hello Matt, Don't worry about the above. I've figured it out. I hadn't put $tmhOAuth->response['response'] I was using raw instead of response.

Great plugin! Saved my skin.

[2013-06-20 09:19] #141 closed, assigned to nobody

[2013-06-23 07:55] ravindrasingh22 opened #143 "Twitter API 1.1 with thmOauth 0.7.5 not wortking anymore"
I have developed a application in php to post the image with status in twitter.com with the help of tweet pic API. before that i API was working fine sudden last week i was posting the same and got status fail to post in twitter. after that  i have checked the response and update the library and API url in my application as API v. 1.1 . but it is not posting the image in tweetpic.

So can you help

[2013-06-24 05:48] JeffreyZhu983 opened #144 "I got 404 problem on direct_messages and search/tweets api"
I got 404 problem when i used tmhOath to access those two api, others fine. please help.

[2013-06-25 02:08] kashum opened #145 "Requires PHP 5.3+ even though summary page says tmhOAuth supports PHP 5.1+"
The tmhOAuth->reconfigure() method is using __DIR__ which was only introduced in PHP 5.3, so you'll get a "Notice: Use of undefined constant __DIR__ - assumed '__DIR__'" notice when used with pre-5.3 versions of PHP.

Obviously you can put the following at the top of the class file to get it working in earlier PHP versions, but it should be fixed properly in the class.

define('__DIR__',dirname(__

[2013-06-26 13:51] AgLiAn commented on #143
Fast fix, replace the:

"1/account/..." with "1.1/account/..."
"1/statuses/..." widh "1.1/statuses/..."

[2013-06-26 14:37] ravindrasingh22 commented on #143
It is done already only tweet pic is not posting.

[2013-07-01 20:24] ohrockyrocky commented on #145
Agree - this affects whether the cacert.pem can be found.

Very oddly the version of PHP used by my hosting company's CRON was pre-5.3 and so failed, whereas the command line used 5.3 and was working. Took me a while to sort...

[2013-07-04 12:49] Sebastien-T opened #146 "I keep getting response code 401"
Hi all,
I've been trying to use this lib to automatically post tweets from my website. But each time I get the response code 401.

Does anyone know what this code means?
How can I debug this?

Here is my code:

include('twitter/tmhOAuth.php');

$tmhOAuth = new tmhOAuth(array(
  'consumer_key' => 'xxx',
  'consumer_secret' => 'xxx',
  'token' => 'xxx',
  'secret' => 'xxx',
));

$response = $tmhOAut

[2013-07-04 12:51] oosswwaalldd commented on #146
https://dev.twitter.com/docs/error-codes-responses

[2013-07-04 12:56] Sebastien-T commented on #146
Oh boy, I feel so dumb right now!
Thanks a lot oosswwaalldd :) You pushed me in the right direction

[2013-07-04 12:56] #146 closed, assigned to nobody

[2013-07-05 13:57] quantizer opened #147 "Application-only authentication"
Hello, I need more rate limits for Twitter API and twitter has better limits if app is pssed [application-only authentication](https://dev.twitter.com/docs/auth/application-only-auth) is tmhOAuth provides methods for this type of authorization or it could be a new feature :-)?

[2013-07-08 17:54] devilsansclue opened #148 "Could not authenticate you"
Ive read the other issues of this type and reset my keys and access tokens, but all I can get is:

{"errors":[{"message":"Could not authenticate you","code":32}]}',

here is my code:

$tmhOAuth = new tmhOAuth(array(
          'consumer_key'    => XXXXX,
          'consumer_secret' => XXXXX,
          'user_token'      => XXXXX,
          'user_secret'     => XXXXX,
        ));

[code]

any thought

[2013-07-08 17:55] #148 closed, assigned to nobody

[2013-07-11 13:22] thanigaivelan19 commented on #139
Hi,

I am also getting same error. Please check this url

https://api.twitter.com/1/account/verify_credentials.json?oauth_consumer_key=1585285860-pHttAw0aRzv0088CnoLD1jT8Y3lKc3szWaifjuG&oauth_nonce=3b535c73c1d9919b520b5b0ba0fe485e&oauth_signature=tBIo1mTWNB1CIhGVq1d64ZpByTo%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1373548507&oauth_version=1.0

Thanks

Thanigaivelan

[2013-07-11 16:49] themattharris commented on #139
@thanigaivelan19 you are getting that error because the request doesn't include the oauth_token parameter. make sure in your new tmhOAuth block you are setting the token and secret:

[code]

[2013-07-21 10:49] kristianharmer opened #149 "Making 2 or more calls on page load"
Hi,

I am using this library in conjunction with seaofclouds tweet JS script. I have two Twitter users that I am attempting to fetch tweets for, independently, to display in separate areas of a page.

https://github.com/seaofclouds/tweet/issues/371

It appears that only the last call is shown and I was wondering of there was a way around this!

Or is it a matter of getting the data for both users

[2013-07-22 08:27] kristianharmer commented on #149
Actually it was an easy fix! I just needed to make sure everything had loaded first! :)

[2013-07-22 08:27] #149 closed, assigned to nobody

[2013-07-24 01:45] kashum opened #150 "CURL options and Twitter "transfer closed with outstanding read data remaining""
It would be nice to be able to set the HTTP version that curl uses, as a tmhOAuth configuration parameter, that defaults to 1.1, but can be changed to 1.0 by the caller.

About 4 months ago there was an issue with the Twitter API prematurely closing connections, and CURL generating a "transfer closed with outstanding read data remaining" error 18. Twitter subsequently fixed that, but the problem s

[2013-07-24 06:00] themattharris commented on #150
can you share the code you used that led to your getting "transfer closed with outstanding read data remaining". i'm concerned that you received that and would like to know what led to it (rather than work around it)

[2013-07-24 06:02] themattharris commented on #147
tmhOAuth supports app only authentication. an example of how to use it is in the tmhOAuthExamples project here: https://github.com/themattharris/tmhOAuthExamples/blob/master/cli/search.php, which makes use of the bearer token set here: https://github.com/themattharris/tmhOAuthExamples/blob/master/tmhOAuthExample.php#L55

[2013-07-24 06:02] #147 closed, assigned to themattharris

[2013-07-24 06:04] themattharris commented on #145
while i can add this, i do say in the readme that the library is only tested with PHP 5.3 -- and the composer.json file states 5.3 or higher is required.

can you link me to the summary page which states that tmhOAuth supports PHP 5.1+ so i can have it corrected.

[2013-07-24 06:05] themattharris commented on #144
please share the code you were using. without knowing how you were using the library i'm not able to help

[2013-07-24 06:07] themattharris commented on #143
make sure the url is: https://api.twitter.com/1.1/statuses/update_with_media.json. Twitter moved the endpoint from upload.twitter.com when v1 was deprecated.

[2013-07-24 06:09] themattharris commented on #142
"Bad Authentication data" means one of these values isn't set or correct:

[code]

if those are set correctly, check the application record on dev.twitter.com to ensure the consumer key and secret, and your user token and secret, still match.

[2013-07-24 06:10] themattharris commented on #138
thanks everyone for supporting each other in this. closing this out as @ErikSMA says it's working now.

[2013-07-24 06:10] #138 closed, assigned to nobody

[2013-07-24 06:22] ravindrasingh22 commented on #143
I understood. now I am unable to post image V1.1 I am using tweetpic for post the image.

[2013-07-24 06:24] themattharris commented on #143
can you share the code you are using so we can help. remember to remove any consumer and user secrets before pasting.

[2013-07-24 06:30] ravindrasingh22 commented on #143
Yes, I have contributed the module based on thmOauth API. Please go through the URL https://drupal.org/project/tweet_poster to download the code.

[2013-07-24 06:49] themattharris commented on #143
ohhh you're using the 3rd party twitpic API, as opposed to twitter's own. looking at Twitpic's documentation (http://dev.twitpic.com/docs/2/upload/) it doesn't appear that they have migrated to v1.1 of the Twitter API for OAuth Echo. i suggest contacting Twitpic for support with OAuth Echo on their upload endpoint.

i also noticed a few other things when looking at your code:
- you're using two OA

[2013-07-24 07:24] quantizer commented on #147
Thanks. Sorry, I can't find it in docs.

[2013-07-25 23:52] emmckenzie opened #151 "Fatal error: Call to undefined function curl_init()"
I am a newbie and learning about the Twitter API through 140.dev's ebook Single User Twitter OAuth Programming. When I run a php script that pulls from tmhOAuth I get the following error:  Fatal error: Call to undefined function curl_init()

I am sure it is something simple I am doing wrong, any ideas?

Thank you!

[2013-07-26 00:03] willpower232 commented on #151
This means you either need to install curl on your server or it has been disabled in your php configuration.

[2013-07-26 14:28] chrissimpkins opened #152 "Error with tmhOAuth utilities file on Heroku"
Hi Matt,

I am using tmhOAuth in <a href="https://github.com/chrissimpkins/tweetledee/">Tweetledee</a> and a user (@kristoffernolgren) reported that when they attempt to load the files on Heroku they receive the following error on line 45 of the tmhUtilities.php file version 0.5.0.

`Fatal error: Call to undefined function mb_internal_encoding() in /app/www/tldlib/tmhUtilities.php on line 45`

<a

[2013-07-30 06:39] kashum commented on #145
Hey Matt. Sorry, I must have assumed it meant 5.1. Under dependencies in the README.md it says:

"The library has been tested with PHP 5.3+ and relies on CURL and hash_hmac. The vast majority of hosting providers include these libraries and run with PHP 5.1+."

I guess I thought this implied that while it was tested under 5.3, it should probably work under 5.1 because it often has those libraries

[2013-07-30 06:39] #145 closed, assigned to themattharris

[2013-07-30 06:57] kashum commented on #150
I'm not sure it's going to help, because Twitter seems to have fixed the issue again. But this is the code we are using:

[code]

Except the var_dump obviously.

[2013-07-30 14:11] prabuguna commented on #139
i m also getting the same error. how do i resolve it.
@themattharris  Only we have the consume_key, consumer_secret, user_token,user_secret

where do i get the oauth_token.

Array
(
    [raw] => HTTP/1.1 400 Bad Request
content-type: application/json; charset=utf-8
date: Tue, 30 Jul 2013 14:06:30 UTC
server: tfe
set-cookie: guest_id=v1%3A137519319003019468; Domain=.twitter.com; Path=/; Expires=Thu

[2013-07-31 08:29] prabuguna commented on #79
@themattharris i m getting the same issue. can u enable that link which you have mentioned in top.

https://github.com/themattharris/tmhOAuthExamples

i m using this examples please let me know wat i need to do.

in this web directory oauth_authorize_flow.php works for me. others not woking.

[2013-08-10 17:37] themattharris commented on #152
hey chris,
tmhUtilities was removed from the project as it wasn't part of the core functionality.
that being said, the issue you are having is caused by the mbstring library not being part of your PHP install.

more information on the function can be found here: http://php.net/manual/en/function.mb-internal-encoding.php
with information about the library and ways to install it here: http://php.net

[2013-08-10 17:37] #152 closed, assigned to themattharris

[2013-08-10 17:38] themattharris commented on #151
as @willpower232 mentions, this error means your PHP installation is missing the require cURL library, more information on installing and configuring your installation with curl is available on the PHP website here: http://www.php.net/manual/en/curl.installation.php

[2013-08-10 17:38] #151 closed, assigned to themattharris

[2013-08-10 17:46] themattharris commented on #150
this turned out to be an issue on Twitter's end (https://dev.twitter.com/discussions/20009) which has since been resolved.

i'll add a way to set this to the config in 0.8.3 though.

[2013-08-10 17:49] themattharris commented on #144
going to close this one out as there isn't enough information to be able to help at this time,

[2013-08-10 17:49] #144 closed, assigned to themattharris

[2013-08-10 17:49] #143 closed, assigned to themattharris

[2013-08-10 17:51] themattharris commented on #142
i'm closing this one out as there hasn't been any new information to follow up on.

[2013-08-10 17:51] #142 closed, assigned to themattharris

[2013-08-10 17:55] themattharris commented on #128
hey @jamesinealing,
each person has their own preferred way of doing this, based on the systems and other libraries they may be using. as such these sort of questions are better suited to the Twitter Developer forums (dev.twitter.com/discuss) where you can gather many different approaches before making your final decision.

[2013-08-10 17:55] #128 closed, assigned to themattharris

[2013-08-10 18:09] themattharris commented on #127
in tmhOAuth 0.8 onwards the way to call the function with arguments like this is to do this:

[code]

to look up multiple locations you keep appending the box-coordinates to the locations string, comma separated from the previous set.

for example, to get Tweets geo-tagged within San Francisco OR New York City you would do:

[code]

there's more information on the location parameter on the Twitter

[2013-08-10 18:15] themattharris commented on #126
bad authentication data means either the consumer key, consumer secret, oauth token or oauth secret are wrong or missing. the first thing to do in these situations is check your consumer key and secret are valid. then check you are configuring tmhOAuth correctly. in your example code you have this:

[code]

when instead you should have this:

[code]

(notice the user_token and user_secret now have

[2013-08-10 18:15] #123 closed, assigned to themattharris

[2013-08-10 18:18] themattharris commented on #122
this is an older ticket reference the now deprecated search api.
but, either way, under tmhOAuth 0.8 onwards the final requested URL can be extracted from the tmhOAuth library by asking for $tmhOAuth->request_settings['url'];

[2013-08-10 18:18] #122 closed, assigned to themattharris

[2013-08-10 18:19] #101 closed, assigned to themattharris

[2013-08-10 18:19] #107 closed, assigned to themattharris

[2013-08-10 18:19] #74 closed, assigned to themattharris

[2013-08-10 18:24] themattharris commented on #114
were you able to resolve this?
as you mentioned the $_SESSION object was used to simplify the examples. that being said, there are also non-interactive examples which also show how to set the token and secret for the request user at runtime.

the library is really a request handler. where the variables that go into it come from doesn't matter to it. they can come from a text file, $_SESSION, a dat

[2013-08-10 18:26] themattharris commented on #117
Sign in with Twitter is explained here: https://dev.twitter.com/docs/auth/sign-twitter
the setting on dev.twitter.com is used to indicate with the application supports the use of https://api.twitter.com/oauth/authenticate or not. (normal OAuth flow uses https://api.twitter.com/oauth/authorize)

i leave it off on my apps.

[2013-08-10 18:26] #117 closed, assigned to themattharris

[2013-08-10 18:27] themattharris commented on #119
this example shows you how to follow another user:
https://github.com/themattharris/tmhOAuthExamples/blob/master/cli/follow.php

[2013-08-10 18:27] #119 closed, assigned to themattharris

[2013-08-10 18:28] #120 closed, assigned to themattharris

[2013-08-10 18:35] themattharris commented on #145
hey @kashum,
no problem, i appreciate the note about it being unclear. i'm restoring the dirname(**FILE**) code in 0.8.3.

[2013-08-15 11:57] chrissimpkins commented on #152
Thanks much for your response @themattharris.  The Heroku servers must not have this non-default extension for PHP installed. Really appreciate it.

-Chris

[2013-08-19 13:15] thatg33k opened #153 "Can't use statuses/update_with_media"
Hello sir,

i think there's a problem somewhere that i can't find. I've been using your class for a while now, and it's always been working fine. Last week, i realized that my posts weren't on twitter, so i started debugging and i realized i always receive :

[code]

This seems to be an error sent back from cURL after it reached it's timeout value in the settings. I've tried setting that value hig

[2013-08-19 18:06] themattharris commented on #153
have you tried pinging, tracerouting and just plain curling to api.twitter.com? a timeout that high suggests there's a networking issue preventing your host reaching api.twitter.com.

[2013-08-19 18:41] oosswwaalldd opened #154 "Verify_ssl.php giving me Http response code 410"
Hi Matt,

I run a web site that allows to schedule tweets, since this weekend I have been getting http response code = 0 and a execution time of 10 secs (cURL timeout) in only like 20% of my tweet api call, I was reading some issues already closed and downloaded the last version of cacert.pem, when I run verify_ssl.php it says:

[code]

Then, downgraded to my original file cacert.pem and it was th

[2013-08-19 19:04] willpower232 commented on #154
410 means you are probably using v1 of the api and it has to be v1.1 now. see where the URL is being set and make sure it says 1.1/ not just 1/

[2013-08-19 19:14] oosswwaalldd commented on #154
Yes I noticed since I am using the old version of verify_ssl.php it was 1 instead 1.1, but my whole site api calls are adapted to v1.1, is there a version of verify_ssl.php to test cacert.pem with API v1.1? I think the problem I have, described above, has something to do with the ssl certificate, is there anything I could check to test the certificate? is it safe for me to download the latest cace

[2013-08-19 19:22] willpower232 commented on #154
I would double check the PHP to make sure it is using the correct api version as your main port of call. 410 means you connected to the server but what you were looking for is not there. If the certificate was preventing you from connecting then you would get a different message I guess.

I am working on the assumption that you should always download the latest certificate although if memory serve

[2013-08-19 19:31] oosswwaalldd commented on #154
Look, my php is all good, it is working right now actually but as I wrote before, like 10~20% of the calls are giving HTTP response code 0 and exec time 10 s (this happens when there is a cURL timeout, I know it the hard way because Twitter has blocked me twice and this is the cURL behavior when that happens, not the case now though) but the rest is been tweeted ok with HTTP code 200.

Here is the

[2013-08-19 19:48] themattharris commented on #154
there's a number of things going on here, all of which i see as independent. i'll tackle the ones i see being discussed:
- using version 0.7.1: please upgrade to the latest version as soon as possible. the differences are subtle and i understand you want to verify things are ok first - but there are a number of improvements and reliability changes i made to support API 1.1 a lot better. that being

[2013-08-19 19:54] oosswwaalldd commented on #154
Thanks Matt!,

I will upgrade to the last version of the lib right away, my server has IP static, I will try the retry function in my script also.

Thanks again

[2013-08-19 20:01] oosswwaalldd commented on #154
Sorry I reopen this issue,

doing the cacert.pem verification with the suggested version of verify_ssl.php throwed this error:

[code]

any help to get it work?

[2013-08-19 20:12] themattharris commented on #154
so these aren't ssl errors. if there were ssl errors the error message would be "ERROR: A verified SSL connection could not be successfully...."

a 400 indicates the API doesn't like what you sent it. you can dig into this a lot deeper by var_dumping the tmhOAuth object.

if you've upgraded tmhOAuth to v 0.8.0 or higher though you want to use this revision of the verify script: https://gist.github

[2013-08-19 20:15] oosswwaalldd commented on #154
Thanks, I will upgrade and hope this errors do not show up again

[2013-08-19 20:15] #154 closed, assigned to themattharris

[2013-08-19 21:04] thatg33k commented on #153
I did some tests, using some other classes, and i get the same issue ... disregard this is either a bug in Twitter API or something weird with cURL ... i'm posting without media for now ... cause it's working fine without any media!

Thanks,

[2013-08-19 23:56] themattharris commented on #150
shipped in 0.8.3

[2013-08-19 23:56] #150 closed, assigned to themattharris

[2013-08-19 23:57] themattharris commented on #145
shipped in 0.8.3

[2013-08-19 23:57] themattharris commented on #46
shipped a way of handling this in 0.8.3

[2013-08-19 23:57] #46 closed, assigned to themattharris

[2013-08-20 16:00] thatg33k commented on #153
Hi Matt,

can you verify your update_with_media feature? I spoke with other twitter PHP guys, and they tested theirs and it's no longer working...

https://dev.twitter.com/discussions/20720

I just want to make sure it's working on your side or not!

Thanks,

[2013-08-20 16:25] themattharris commented on #153
using tmhOAuth 0.8.3 (0.8.2 also works) and the example photo_tweet.php script here's what i get

[code]

[2013-08-20 16:27] themattharris commented on #153
i just noticed the \0 in your status. can you try removing that.
\0 is a null terminator and i strongly recommend against using it. v0.8.3 handles @reply handling by putting a space at the beginning of the string

[2013-08-20 16:39] thatg33k commented on #153
I tried removing the \0 ... same results! I'll start from scratch given your examples and i'll see from there! Weird stuff tho ...

thanks for testing

[2013-08-20 16:50] themattharris commented on #153
if you can send me your actual code and image you are trying to post i can try digging in a little deeper. remove your keys though :)

[2013-08-20 17:10] thatg33k commented on #153
Well i just redownloaded your scripts and test using your code for photo_tweet.php and here the result :

# Request Settings

params
     media[]                  @/path/test/test.jpg;type=image/jpeg;filename=test.jpg
     status                   Picture time
headers
     Authorization            OAuth oauth_consumer_key="-", oauth_nonce="-", oauth_signature="-", oauth_signature_method="HMAC-SHA1

[2013-08-20 17:18] thatg33k commented on #153
content_type             application/json;charset=utf-8 ... is it normal that mine is empty?

[2013-08-22 14:00] thatg33k commented on #153
Hi Matt,

can you take a look at this : https://dev.twitter.com/discussions/20720#comment-47790

A lot of users are using your library and reporting issues with update_with_media, i think it's worth a shot that you read that thread and see if anything makes sense to you.

thanks

[2013-08-22 15:28] themattharris commented on #153
thanks for signposting.
i see a number of different issues with different libraries being reported so i think theres some conflation going on.

i agree something is up though.

as i'm not able to reproduce this yet (i've tried different apps, machines, users and php versions) i need to trouble you for some more info.

can you tell me the ip you're making your requests from (working and non-working

[2013-08-22 16:00] thatg33k commented on #153
Hi Matt,

when i saw the problem, i created a hosts entry in my /etc/hosts so i can always use the same twitter server, so i currently use : 199.16.156.104 api.twitter.com

api.twitter.com is a round-robin DNS, so i guess we must not hit the same server quite often, but if you modify your hosts file you can force it to go to the same as me.

my ip is : 198.245.51.14 and i don't have any working IP

[2013-08-23 03:19] themattharris commented on #153
thanks for the information and the file you are testing. still getting ok results so i'm attempting to compile the versions of php and libcurl you are using.

there's no chance you could use wireshark and record what's happening when you try and make requests is there?

[2013-08-23 04:08] thatg33k commented on #153
Hi Matt,

here the tcp stream ... i removed my keys of course, and i did it without SSL to grab all the info.

http://pastebin.com/HtXX6ttD

And i also took a screenshot of wireshark results, there's a lot of TCP retransmission, and a weird error at the end

http://i.imgur.com/el0nLhB.png

"20 13.037826   198.245.51.14   199.16.156.104  HTTP    1514    [TCP Retransmission] Continuation or non-HTTP

[2013-08-23 04:14] themattharris commented on #153
ok just compiled php 5.3.3 with libcurl 7.19.7 - still everything works.
so i've done a bit more background research and here's what i'm interpreting from the curl stats you published.

here are the stats for my connection to the 199.16.156.104 address:

[code]

of interest here are these values:

[code]

what those values tell me is that my connection uploaded size_upload bytes, or upload_content

[2013-08-23 04:31] thatg33k commented on #153
I checked my interface and there's no dropped packets etc... i did a traceroute so here it is :

 1  198.245.51.253  1.505 ms \* *
 2  198.27.73.15  1.149 ms  1.453 ms  1.461 ms
 3  198.27.73.6  156.507 ms  156.518 ms *
 4  \* \* *
 5  206.223.119.171  17.949 ms  17.964 ms  17.953 ms
 6  199.16.159.34  46.090 ms  46.219 ms  46.195 ms
 7  199.16.159.73  43.077 ms  43.421 ms  43.168 ms
 8  199.16.15

[2013-08-23 13:39] thatg33k commented on #153
Hi Matt, i was debugging again this morning and after some tests failed ... my tests went through very quickly. I did some upload, and they all went through ...

I retested my website integration and it was working too ... i guess this was really on twitter end!

I'm waiting for an answer on the developper discussion and will report back

Thanks for all the hard work

EDIT: Finally it went back to

[2013-08-23 14:53] themattharris commented on #153
what time range was it working during, this might help focus on whats happening. for something to work and then not work within that short space of time really does suggest a network event somewhere along the line.

i think we can rule out tmhOAuth as the cause though.

[2013-08-28 03:57] themattharris commented on #153
have you seen any improvement or success in the last few days?

[2013-08-28 13:08] thatg33k commented on #153
Not really, i've seen people yesterday having success with it, but it's back to not working this morning. It's definitely not your code, so if you want to close this here, go ahead, or leave it open and i'll update as soon as Twitter get their fingers out of their nose and figure out what's happening.

[2013-08-28 17:22] themattharris commented on #153
yeah still, i'm keen to help you resolve this.
so, and i appreciate you doing these tests, can you do two thing for me?
1. let me know if a profile image can be uploaded successfully. (use a test account just incase)
2. email me (its on my github profile page)  the full wireshark capture for the failing media upload so i can dig into the packet messages?

[2013-09-02 18:00] cwoodfield commented on #153
Hi, I'm on Twitter's Network Eng team. Was wondering if you could do some extra diags on your side to help us try to pin this down...?

First off, from the capture you sent in (thank you very much for this!), it's apparent that your client has segmentation offload enabled, resulting in an inaccurate pcap (the pcap shows packets larger than the MTU that are broken up into MTU-sized frames by the dr

[2013-09-02 20:01] thatg33k commented on #153
Where do i send the pcap file? I won't add it here since it's not SSL traffic and my keys are inside the pcap file.

Just did the MTR test, and i get the same results
                                                                                                                                                                      Packets               Pings
 Host

[2013-09-02 20:12] cwoodfield commented on #153
You can email to me, see my profile page.

[2013-09-03 13:54] thatg33k commented on #153
After discussion with cwoodfield, the problem seems to be fixed. So i guess it was really a network issue, or something related.

Thanks for everyone, but i think this issue can be close now, as long as Twitter doesn't revert back the changes they made :+1:

[2013-09-04 00:52] Maxwell2022 commented on #153
it seems to have been fixed by twitter: https://dev.twitter.com/discussions/20720?page=1#comment-48686

[2013-09-04 11:50] wschwaiger opened #155 "404 error while connection"
Hi,

I am getting the following error when I try to connect via tmhOAuth to Twitter. I am on the latest version of your lib - any ideas? many thanks for your help.

Array
(
    [raw] => HTTP/1.1 404 Not Found
cache-control: no-cache, no-store, must-revalidate, pre-check=0, post-check=0
content-type: application/json; charset=utf-8
date: Wed, 04 Sep 2013 11:48:26 GMT
expires: Tue, 31 Mar 1981 05:00

[2013-09-04 12:10] themattharris commented on #155
please include your code when asking for support. it helps me spot coding errors quicker.

in this case the Twitter API is telling you that the user timeline you are requesting does not exist. this is regardless of you using tmhOAuth or not.

looking at the request information you shared I can see this is because the screen_name you are asking for us a URL -- which is not correct.

`GET /1.1/statu

[2013-09-04 12:44] wschwaiger commented on #155
argh, I am so sorry - thank you for your help. such a stupid mistake. sorry

[2013-09-04 12:44] #155 closed, assigned to themattharris

[2013-09-19 14:21] Jaguar1 opened #156 "Upload images to Twitter from a subdomain"
Hi all,

first thank you Matt for your OAuth library. I'm using your tmhOAuth library to upload GIF files along with statuses to Twitter and it works nice this way:

'media[]' => "@{$image};type=image/gif;filename={$image}"

My question is: How to upload images from a SUBDOMAIN like "admin.mysite.com" when images were stored in a directory on the main domain "mysite.com/images"?

In this case it i

[2013-09-19 15:18] #153 closed, assigned to themattharris

[2013-09-19 15:19] #126 closed, assigned to themattharris

[2013-09-19 15:19] #114 closed, assigned to themattharris

[2013-09-19 15:23] themattharris commented on #156
to publish images from URLs you need to download the image to the server you make the request to the Twitter API from. methods like file_get_contents (http://php.net/manual/en/function.file-get-contents.php) or fopen (http://php.net/manual/en/function.fopen.php) can be used to fetch the image (assuming the security settings in php.ini allow it).

hope that helps

[2013-09-19 16:47] Jaguar1 commented on #156
Thank you for the idea Matt, I've done it.
On 19 Sep 2013 18:23, "Matt Harris" notifications@github.com wrote:

[2013-09-20 16:31] knowledgecorner opened #157 "How to delete tweet"
hi
im using your "tmhOAuth" image tweets sucessfully updated by using following code
" $img = './'.$img;
$code = $tmhOAuth->request('POST', 'https://api.twitter.com/1.1/statuses/update_with_media.json',
array( 'media[]' => "@{$img}", 'status' => "$txt" ), true, true) ; "

im getting tweet id also but i want how to delete tweet and which method used for delete tweet.
Thanks in advance

[2013-09-26 02:40] fmschuler opened #158 "update_with_media: "Invalid or expired token (code 89)" after authorize app"
Hello! I´m a newbie in php and trying to use thmOAuth v0.8.3 to tweet with media. Based on the tmhOAuthExamples I made my code merging two files on the index.php: oauth_authorize_flow.php and photo_tweet.php

When I click on the "login with Twitter" to authorize the app, everything is ok. Get the token, secret token, redirect back... But when I try to tweet returns the error "Invalid or expired to

[2013-09-26 06:47] appweavers opened #159 "Getting constant 403s trying to update_with_media"
Hi Matt,

I have posting statuses working fine with tmhOAuth and I'm trying to add media to posts. I can post media with the photo_tweet.php example, but when I try the code myself I get nothing but 403s.

Here's my code after the include and tokens:

[code]

I tried file_get_contents after reading your response to another question. I'm running this on a subdomain, although the image file is store

[2013-09-27 10:34] pcowley opened #160 "LatestTweets not working with Widget Manager in SS 2.45"
Since Twitter changed their policy and need to have login authed, I've been trying to find a way to make the exisiting widget work again - to no avail.
I have a site on 2.44 or 2.45 but not 3 anyhow. Widget manager doesn't seem able to add a LatestTweets widget I downloaded from here even though it shows up in the list of widgets that are available to be managed.
The widget manger mentioned in the

[2013-09-30 03:06] themattharris commented on #159
ah, yeah. so the file_get_contents was specifically for the situation that the file isn't local to the PHP script you are using to POST a tweet. in fact, even with that call you would still need to save the contents of the data returned from file_get_contents to a local temporary file before passing it's path as the $image variable.

for your example you should find this one works for you: https:/

[2013-09-30 03:08] themattharris commented on #160
thanks for writing - unfortunately i'm not familiar with the code you are talking about. does it use tmhOAuth? this github project and it's issues are for that library only.

for general api support i recommend instead visiting dev.twitter.com/discuss so twitter and community developers can help you out.

[2013-09-30 03:13] themattharris commented on #158
thanks for writing.
after your call to access token i can see you set the variable $oauth_creds but i don't see you save those to the $_SESSION, or use them to reconfigure tmhOAuth. the oauth_token you use for the OAuth handshake is different to the one you will finally get after the last POST to oauth/access_token. as such you'll want to make sure you save the oauth_token and oauth_secret returne

[2013-09-30 03:14] themattharris commented on #157
hey
you'll want the https://api.twitter.com/1.1/statuses/destroy/:id.json endpoint documented on dev.twitter.com here: https://dev.twitter.com/docs/api/1.1/post/statuses/destroy/%3Aid

hope that helps

[2013-09-30 03:14] #157 closed, assigned to themattharris

[2013-10-02 05:12] appweavers commented on #159
Thanks Matt. All is working fine now.

Nigel

[2013-10-02 05:12] #159 closed, assigned to themattharris

[2013-10-05 15:07] ghost opened #161 "Problem when using on php 5.5.3"
$res = $tmhOAuth->response['response'];
$ard = json_decode($res, true);

In the above code, $ard should be an array but it isn't happening so in php 5.5.3. It was working fine in php 5.4.

[2013-10-05 15:24] themattharris commented on #161
are you getting a 200 response code? also can you show the request you're making before inspecting the response

[2013-10-05 20:03] fchristant commented on #132
@wiresfj Thanks man, you're a life saver. Your fix worked perfectly for me.

[2013-10-06 14:04] ghost commented on #161
$args = array('id' => 1);
$code = $tmhOAuth->request("GET", $tmhOAuth->url("https://api.twitter.com/1.1/trends/place.json"), $args);
$res = $tmhOAuth->response['response'];

Yep I'm getting a 200 response code...

[2013-10-06 14:23] themattharris commented on #161
lets var_dump tmhoauth->response and see what it looks like without json_decode

[2013-10-06 14:37] ghost commented on #161
ok sorry my bad.... I was using 5.4 so got the 200 response....

on php 5.5, I get $http_response_header as NULL...

I can't var_dump tmhOauth->response because there's nothing in it...

[2013-10-06 14:44] ghost commented on #161
Array
(
    [raw] =>
    [code] => 0
    [response] =>
    [info] => Array
        (
            [url] => https://api.twitter.com/1.1/trends/place.json?id=1
            [content_type] =>
            [http_code] => 0
            [header_size] => 0
            [request_size] => 0
            [filetime] => -1
            [ssl_verify_result] => 0
            [redirect_count] => 0
            [total_ti

[2013-10-06 15:39] themattharris commented on #161
so that means your machine isn't making a connection to api.twitter.com at all. given that PHP 5.4 is working for you suggests a compilation issue or missing library. does your PHP 5.5 build have the OpenSSL module enabled?

phpinfo(); should be able to tell you if OpenSSL is installed and recognized.

[2013-10-10 14:28] ghost commented on #161
Oh yeah... I had the OpenSSL enabled...

Just rebuilt 5.5 and everything worked fine...

Thanks for the support.... :-)

[2013-10-10 16:00] themattharris commented on #161
excellent. i'll close this out then

[2013-10-10 16:01] #161 closed, assigned to themattharris

[2013-10-11 09:43] mrtnmueller opened #162 "DELETE not handled correctly"
When working with the Xing API I encountered a problem with tmhOAuth. I think I got the same problem on twitter, but there the DELETE can be replaced with a POST request so I didn't really care.

However, here is the problem: DELETE requests will never be sent. Instead, a GET request will be performed.

for example: `$this->tmhOAuth->request('DELETE', $this->tmhOAuth->url('v1/activities/'.$artifac

[2013-10-11 09:49] mrtnmueller commented on #162
hm, after a moment of thinking i claim changing

[code]

to

[code]

might actually solve all remaining cases.

[2013-10-17 10:36] ghost opened #163 "undefined function curl_init"
i am trying to write a simple twitter app that tweets using my account.when i try to run this app i get this error with the tmhOAuth library 0.8.3

Notice: Use of undefined constant CURL_HTTP_VERSION_1_1 - assumed 'CURL_HTTP_VERSION_1_1' in C:\wamp\www\madmensions.com\tmhOAuth.php on line 55

Fatal error: Call to undefined function curl_init() in C:\wamp\www\madmensions.com\tmhOAuth.php on line 75

[2013-10-17 10:38] willpower232 commented on #163
You need to enable curl in your wamp installation. Something like this should help:

http://stackoverflow.com/questions/13021536/how-to-enable-curl-in-wamp-server

If it is already enabled then make sure you have not disabled the function in the disable_functions directive in php.ini

[2013-10-17 12:36] ghost commented on #163
Thanks men its working but now i run the app and get the response code
of 0 and tweet not posted.does that mean anything to you?

On 10/17/13, Will Power notifications@github.com wrote:

[2013-10-17 12:38] ghost commented on #163
thanks men i have done it.works now but get this message of an error code when app runs error:0 and tweet not sent

[2013-10-22 01:07] fredmtl opened #164 "French accents issue."
Hello. First, thank you for this great code.  I am working on a site in french on which I want to simultaneously post on the website, and as tweets. The problem I have though is with accents, (é,è.à, etc.). At first, they appeared on twitter as the "infamous black diamond with a question mark". Then i tried replacing the accents in my sring with codes. For example "&eacute;" for é. But then the co

[2013-10-22 02:36] fredmtl commented on #164
SOLVED! I think that might be useful for others. I simply used utf8_encode on the 'status' string. Everything works beautifully now.

[2013-11-07 22:09] rarDevelopment opened #165 "How to use Hashtags instead of just Users?"
Is there a way to search for Hashtags rather than just User timelines?

[2013-11-08 09:14] willpower232 commented on #165
https://dev.twitter.com/docs/using-search

Google is your friend.

[2013-11-15 16:24] jarodium opened #166 "php_self?"
Where is the php_self method?

"Fatal error: Call to undefined method tmhOAuth::php_self() "

[2013-11-15 16:33] #166 closed, assigned to nobody

[2013-11-19 21:18] 140dev opened #167 "Will a new version of tmhOAuth be needed for the SSL certificate upgrade?"
Twitter has made this announcement.
https://dev.twitter.com/blog/rest-api-ssl-certificate-updates

Will this require an upgrade to tmhOAuth? Do you have an expected delivery date for this upgrade?

[2013-11-20 00:34] themattharris commented on #167
thanks for checking on this.
if you use the included cacert.pem you'll be using the same SSL CA roots that Mozilla uses as of Sat Dec 29 20:03:40 2012 (the latest version) -- so things should be fine.

[2013-11-20 00:34] #167 closed, assigned to themattharris

[2013-12-15 19:04] evdmolen opened #169 "error 403 ( strict-transport-security ) when running tmhOAuth from commandline"
When i'm running my script from the commandline, i'm getting error 403 (strict-transport-security) when i'm using update-with-media. Running the same script from a browser (Chrome) works fine.

How to solve this problem?

[2013-12-21 15:21] #169 closed, assigned to nobody

[2013-12-24 07:04] trante opened #170 "Timezone in new versions"
I was using very old version 0.7.5 and each time I update tmhOAuth I was updating timezone from UTC to my local value.

 $this->config = array_merge(
      array(
        // default timezone for requests
        //'timezone'                   => 'UTC',

It seems like to timezone value in 0.8.3 ?
So does library gets system wide timezone ? How does timezone issues works now ?
Thank you very much

[2013-12-26 17:03] themattharris commented on #170
the twitter api and tmhOAuth both use epoch seconds to communicate the timestamp with the server. in version 0.8.0 i removed the timezone support in response to #125. so, the library uses whatever default you set for your PHP instance in either your parent scripts, or php.ini file.

timezone issues can still be handled as, on error, the library can compare the difference between the local server t

[2013-12-26 17:11] trante commented on #170
Thank you for detailed answer.
Best regards.

[2013-12-26 17:11] #170 closed, assigned to themattharris

[2014-01-11 06:29] nyambana opened #171 "Error 0"
i always get error 0 when i trying this code

<?php
// Load the app's keys into memory
include 'tmhOAuth.php';
// Create an OAuth connection to the Twitter API
$tmhOAuth = new tmhOAuth
    (array( 'consumer_key' => 'xxxxxxxxx',
            'consumer_secret' => 'xxxxxx',
            'token' => 'xxxxxxxxxx',
            'secret' => 'xxxxxxxxx' ));
// Send a tweet
$responce = $tmhOAuth->request('POST

[2014-01-11 13:13] johannesnagl commented on #171
same here!

[2014-01-11 13:25] willpower232 commented on #171
I very occasionally get error 0 when accessing a timeline of tweets, I tried echoing the headers received but they were empty too. I cannot replicate this way though...

[2014-01-11 14:40] johannesnagl commented on #171
Hi guys,

looks like, it's not really related to tmhoauth. we had the following problem:

called via apache, everything was fine. called via command line (php-cli), the curl call produced the following error:

"SSL peer certificate or SSH remote key was not OK"

so we a) updated, as described in the tmhoauth readme the cacert bundle and b) double checked our server config. after modifying some par

[2014-01-12 00:04] trante opened #172 "Wrong username password warning if user isn't logged in"
I'm not sure this problem is tmhOAuth specific. Possibly it is a Twitter related issue but I wanted to be sure that tmhOAuth isn't the problem:

I have an Android application that uses Twitter REST API 1.1 and tmhOAuth.

When user clicks "Sign in with Twitter" I open a WebView and load this page: https://api.twitter.com/oauth/authenticate?oauth_token=123456

If user is already logged in, Twitter p

[2014-01-27 17:37] trante commented on #172
That was my error . Thank you I solved.

[2014-01-27 17:37] #172 closed, assigned to nobody

[2014-02-10 07:12] ilayas opened #173 "update_profile_background_image not updating the bg image (Not a library issue)"
Hi,

I've tried to update the profile background image using https://dev.twitter.com/docs/api/1.1/post/account/update_profile_background_image. The API returns 200 as status code but the BG image is not updated. I'm using https://github.com/themattharris/tmhOAuth library for API calls.

And the the documentation says, we could use any of the arguments, but when I try only 'use' parameter, API retu

[2014-02-20 20:24] CarlaMck77 opened #174 "401 Error"
This code has worked for me in the past. Just wondering what has changed to make the twitter feed stop on my website.

On inspection, I received an Error Code: 401. I also saw a message stating "Timestamp out of bounds".

I have not changed the server I am on. Neither is there a time issue on my server.

[code] => 401
[response] => {"errors":[{"message":"Timestamp out of bounds","code":135}]}

I'm

[2014-03-29 20:29] zuk22 opened #175 "error with PHP 5.3"
Hi.
When I change version of PHP from 5.2 to 5.3 the code below show an error - <b>Warning: Invalid argument supplied for foreach()</b>
 On PHP 5.2 it's working good.
<code>
$tmhOAuth = new tmhOAuth(array(
                'consumer_key' => '********_',
                'consumer_secret' => '**_*****_',
                'user_token' => '**_*****_',
                'user_secret' => '**_******',

[2014-05-14 06:36] themattharris commented on #175
i haven't tested the code but on inspection this looks like it might be because $tweets isn't an array but instead is NULL because the json_decode failed.

can you validate that $code == '200' before attempting to decode the response?

[2014-05-14 06:40] themattharris commented on #174
is this still happening for you?
that error tends to mean the clock on your server is incorrectly configured. one way to check this is to print the current time according to your script and comparing it to server time in the headers returned by the Twitter API.

this (https://github.com/themattharris/tmhOAuth-examples/blob/a7e94beadedeb3b67fde82daa7ed95d054332277/auto_fix_time.php) is an old examp

[2014-05-14 06:40] #171 closed, assigned to nobody

[2014-05-14 06:41] #158 closed, assigned to themattharris

[2014-05-14 06:41] #164 closed, assigned to nobody

[2014-05-14 06:43] themattharris commented on #163
old ticket but in case it helps error 0 happens when curl fails to connect to the remote server (for some reason). check out the section titled "A note about security and SSL" in the readme for more guidance on what to do in this situation.

[2014-05-14 06:43] #163 closed, assigned to themattharris

[2014-05-14 06:43] #127 closed, assigned to themattharris

[2014-05-14 06:44] #109 closed, assigned to themattharris

[2014-05-14 06:44] #156 closed, assigned to themattharris

[2014-05-14 06:44] #160 closed, assigned to nobody

[2014-05-14 06:44] #165 closed, assigned to nobody

[2014-05-18 17:51] themattharris commented on #173
i know this is an old issue but incase it helps the error you are getting from the Twitter API can often be attributed to the image param being set, but the image data not existing.

double check that the file at `'.DOC_ROOT.'/assets/img/location_1.png` exists and is readable.

[2014-06-04 21:06] alykhan opened #178 "Using proxies"
I understand there is support for proxies but I'm unclear how to use the feature.

// support for proxy servers
        'curl_proxy'                 => false,
        'curl_proxyuserpwd'          => false,
        'curl_encoding'              => '',

Where do we put the host for the proxy?
is it something like this?

'curl_proxyuserpwd' => 'http://someproxyserver.com:username:password' ,

[2014-06-06 12:34] ramachandra357 commented on #153
Hi Matt Harris,
I have used your class file (tmhOAuth.php) but I'm facing a problem while updating twitter background i.e if a user having his /her background image inbuilt theme(provided by twitter) my application unable to change it. Can you please mention how can I resolve this problem.

Thanks in advance

[2014-07-07 13:01] zuk22 commented on #175
Hi. Thank's for answering me.
I tested the code and get error = '0'.
It's occur when I change PHP version from 5.2 to 5.3 on my host

[2014-08-06 22:34] themattharris commented on #175
that error usually means curl cannot open a connection to the remote server. in the past others have reported this happens when OpenSSL isn't correctly configured for your compiled PHP.

what does $tmhOAuth->response['error'] contain?

[2014-08-06 22:34] #174 closed, assigned to themattharris

[2014-08-06 22:34] #173 closed, assigned to themattharris

[2014-08-06 22:38] themattharris commented on #178
the proxy support is more a 'proxy' in itself to the proxy settings of curl.
the tmhOAuth configuration options match to the curl options of the similar name. for example, 'curl_proxy' matches to the cURL configuration option CURLOPT_PROXY, 'curl_proxyuserpwd' to CURLOPT_PROXYUSERPWD.

you can learn more about those options and what cURL expects you to do with them in the curl-setopt documentation

[2014-08-06 22:38] #178 closed, assigned to themattharris

[2014-08-06 22:41] themattharris commented on #162
merged into 0.8.4 and master.

[2014-08-06 22:41] #162 closed, assigned to themattharris

[2014-08-28 12:12] lrytz commented on #152
to make it work on heroku (https://devcenter.heroku.com/articles/php-support)

[code]

[2014-10-16 14:41] ryanjkoehler opened #180 "curl_setopt(): The usage of the @filename API for file uploading is deprecated"
I'm receiving the warning:

curl_setopt(): The usage of the @filename API for file uploading is deprecated
Please use the CURLFile class instead in tmhOAuth.php on line 787
using PHP 5.5.3

when using update_with_media to upload a photo:

$temp_file = $_POST['url']; // this is path of local file
$temp_type = $_POST['type']; // jpg
$temp_name = $_POST['name']; // image.jpg

$tmhOAuth = new tmhOAuth

[2014-11-03 21:54] Brade opened #181 "'geocode' parameter doesn't seem to work for search/tweets.json"
Specifying a geocode param as discussed here: https://dev.twitter.com/rest/reference/get/search/tweets

Example:

[code]

'geocode' doesn't seem to get passed at all. I just get a bunch of tweets that aren't geocoded.

[2014-11-04 19:32] themattharris commented on #181
when you say the geocode parameter doesn't seem to be getting passed - was it missing from the url being sent by tmhOAuth?

you can see the url being sent using this: `var_dump($twitobj->response['info']['url']);`

tmhOAuth doesn't do any filtering itself so, if you see the geocode parameter in the URL being sent to the Twitter API, perhaps this is a problem with the search/tweets api endpoint?

[2014-11-04 19:37] Brade commented on #181
Yeah, after looking at this more closely, it was an issue w/ Twitter's API being very liberal if a tweet isn't specifically geolocated (as well as including retweets by default unless you include " -RT" in the search term query, a fact not mentioned anywhere in the docs)

[2014-11-07 18:08] vancanneyt commented on #180
In PHP 5.6 it is deprecated resulting in tmhoauth not being able to upload an image to Twitter.
Temporary workaround:
- open tmhOAuth.php
- add after line 778 $c = curl_init(); this:
  curl_setopt($c, CURLOPT_SAFE_UPLOAD, false);
- save, upload and test and it should work now (it worked with me)

[2014-11-07 18:31] themattharris commented on #180
which version of tmhOAuth are you using? 0.8.4 resolved issue #168 and added support for CurlFile. you do need to pass a CurlFile object though, for example:

[code]

[2014-11-07 18:31] #180 closed, assigned to themattharris

[2014-11-07 18:44] themattharris commented on #181
ok cool. i'm going to close this out then as tmhOAuth is passing the parameter.

[2014-11-07 18:44] #181 closed, assigned to themattharris

[2014-12-23 13:40] randallflagg34 commented on #175
Hey, I'm having this same issue.
I'm on Hostgator running PHP 5.4 (I'm trying to switch to 5.2 but I need support from them to do that).

<code>My error is:
["error"]=>
      string(24) "couldn't connect to host"
["errno"]=>
      int(7)
</code>
As far as I know my cacert.pem is being loaded, the **DIR** is working nice.
Most likelly is the PHP version, right?

[2014-12-23 16:45] themattharris commented on #175
no, that error means curl cannot connect to the host specified (which defaults to api.twitter.com).

what does `php -i | grep OpenSSL` give you?
and can you `ping api.twitter.com`?

[2014-12-27 22:40] randallflagg34 commented on #175
Yes, I tried and indeed it was a problem from hostgator, it gave me Time Out. The same thing I tried from bluehost and had no problem.
I talked to the support team and they where kind enough to look into the issue and try to resolve stuffs, which they did. Just to have it in mind: it can be your hosting provider blocking something without noticing

[2015-06-11 17:04] FooleanBool opened #183 "Auth problems"
Hi Matt.
First off thanks for sharing this OAuth implementation and secondly thanks for replying to my twitter message.
I have installed and configured your web examples with my twitter app keys.
When running the 'verify credentials' part, I get a successful response and the latest tweet is shown.
When running the 'auth flow; part, I also get a successful response and am invited to authorise the a

[2015-07-01 10:01] 2s2d commented on #173
Not working. update_profile_image - is good, and when i try update_profile_background_image - not working.

[2015-07-01 10:08] 2s2d opened #185 "Not updating image: update_profile_background_image"
I'm using https://github.com/themattharris/tmhOAuth library for API calls. When i try update_profile_image all good:

<pre>$code = $tmhOAuth->request(
    'POST',
    $tmhOAuth->url('1.1/account/update_profile_image'),
    array('image'  => "@{$image_path};type=image/jpeg;filename={$name}"),
      true, // use auth
      true  // multipart
);</pre>

So, When i try update_profile_background_image w

[2015-07-01 10:11] #185 closed, assigned to nobody

[2015-07-22 18:52] eXorus commented on #183
Same for me it was working well a few months ago.

[2015-07-22 19:07] themattharris commented on #183
hey guys,
bad authentication data comes back from twitter when the oauth token or secret are missing or invalid. can you update your scripts to output $this->config['user_token'] and $this->config['user_secret'] - just to make sure they are there.

user_requests (those that use the results of the auth flow and user_token and user_secret should be invoked with $tmhOAuth->user_request.

the bearer t

[2015-07-22 19:18] #175 closed, assigned to themattharris

[2015-07-22 19:25] eXorus commented on #183
I have the error message :
 [code] => 403 [response] => {"errors":[{"code":189,"message":"Error creating status."}

when I post to
https://api.twitter.com/1.1/statuses/update_with_media.json

I used consumer_key, consumer_secret, token and secret
The bearer is empty but the user_token and secret are used.

I never used $tmhOAuth->apponly_request and it was working before so ...

[2016-01-11 21:21] electrototo11 opened #187 "php5.6"
Hi,
The program works with PHP5.5 but no longer works in 5.6, 403 error on my script :(
How I can do ?
Thanks

[2016-02-04 13:16] Flovinskas opened #188 "Getting an image of original tweet author"
Dear Matt,

I use a plugin that uses your library for displaying twitter feed, however I miss one very important thing: an image of original tweet author when retweeting.

The way the request is made is this:

[code]

So that it always outputs an image of my twitter account, even though on retweets I would like to display profile images of original authors.

I am new to github, but if there is any

[2016-02-29 18:55] clement87 commented on #187
Same issue, any update ?

[2016-02-29 19:20] themattharris commented on #187
the 403 will be coming back from Twitter with some message explaining what the cause of the 403 was.
if you inspect $tmhOAuth->response i can suggest possible causes and investigate further.

[2016-02-29 19:35] clement87 commented on #187
Thanks for the quick reply but I put my production back in PHP 5.5 and don't have an other environment to test it. Maybe @electrototo11 can inspect the response ?

[2016-02-29 20:13] electrototo11 commented on #187
Hi,
The response is only :  KO (403), no more...
PHP version :  5.6.17

[2016-02-29 20:54] clement87 commented on #187
By the way, the problem only occurs (at least for me) when posting a tweet with a picture. Simple tweets (only text) was OK.

[2016-02-29 21:11] electrototo11 commented on #187
yes, same for me

[2016-03-02 22:34] johannesnagl commented on #187
we have this library working with php 5.6 for weeks now - no problem at all. as @themattharris pointed out, please have a look at the error message concerning your api call!

[2016-03-03 04:28] themattharris commented on #187
can you var_dump $tmhOAuth->response and share what it says

[2016-08-01 00:53] damienfa opened #190 "Deprecated "curl_setopt" error on PHP 5.5.24"
I updated my php from 5.3 to 5.5.24 and now I have an error :

Any help ?